<template>
    <div class="mobile_main">
        <div class="mobile_hd">
            <div class="mobile_logo"></div>
        </div>
        <div class="mobile_hd_slider"></div>
        <div class="m_brief">
            <span>当前出块高度：{{ head_block_num ? head_block_num : '...'}}</span>
            <span>交易笔数：{{ transaction_num ? transaction_num : '...' }}</span>
        </div>
        <div class="reward_biref">
            <h3>当前分红总额</h3>
            <div class="brief_item_ct">
                <!-- <div class="brief_item_tt">当前分红总额(eos coin)</div> -->
                <!-- <div class="brief_item_content">{{ head_block_num ? head_block_num * 9 : '...' }}</div> -->
                <div class="brief_item_content">{{ total ? parseInt(total) : '...' }}</div>
                <div class="brief_item_tag"><span class="txt_tag">EOS</span><span class="txt_tag">COIN</span></div>
            </div>
        </div>
        <a class="how_to_join" href="https://mp.weixin.qq.com/s/JF7jIykb8LkSLjUeR22R0A">
            如何参与投票分红
        </a>
        <div class="reward_detail" v-if="bps">
            <h3 class="detail_tt">当前分红数据</h3>
            <div class="bps_update_time" v-if="update_time">
                数据更新时间：{{ time_plus_hours(update_time) }}  
            </div>
            <div class="tb">
                <div class="tr">
                    <div class="th t1_w">排名</div>
                    <div class="th t2_w">节点名称</div>
                    <div class="th t3_w">年化利率</div>
                    <div class="th t4_w">奖池金额</div>
                </div>
                <div class="tr" v-for="item, index in bps" v-bind:class="{'tr_bg': index%2 == 0}" v-if="index < 23">
                    <div class="td t1_w">{{ index + 1 }}</div>
                    <div class="td t2_w">{{ item.name }}</div>
                    <div class="td t3_w">{{ cal(item.total_staked, item.commission_rate) }}</div>
                    <div class="td t4_w">{{ parseInt(item.rewards_pool) }}</div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</template>
<script>
import '../../assets/css/activity.css';
import { 
    get_bps,
    get_vote_user_num,
    get_transaction_total,
    get_last_info
} from '../../service/activity_service.js'
import {
    time_plus_hours
} from '../utils/utils.js'
export default {
    data () {
        return {
            block: null,
            head_block_num: null,
            bps: null,
            user_num: null,
            total: null,
            transaction_num: null,
            update_time: null
        }
    },
    mounted(){
        this.get_info();
        this.get_bps();
        this.get_vote_user_num();
        this.get_transaction_total();
    },
    methods: {
        get_info () {
            get_last_info()
            .then(res => {
                this.block = res.data;
                this.head_block_num = res.data.head_block_num;
                setTimeout(() => {
                    this.get_info();
                }, 3000);
            });
        },
        get_bps () {
            get_bps()
            .then(res => {
                let items = JSON.parse(res.data.origin_data);
                items = items.sort(function(a, b){
                    var keyA = parseFloat(a.total_staked),
                        keyB = parseFloat(b.total_staked);
                    if(keyA > keyB) return -1;
                    if(keyA < keyB) return 1;
                    return 0;
                });
                let total = 0;
                items.forEach(item => total += parseFloat(item.rewards_pool));
                this.total = total;
                this.bps = items;
                this.update_time = res.data.update_time;
            });
        },
        get_vote_user_num () {
            get_vote_user_num()
            .then(res => {
                this.user_num = res.data || 0;
            });
        },
        get_transaction_total () {
            get_transaction_total()
            .then(res => {
                this.transaction_num = res.data;
            })
        },
        cal (totalStaked, commissionRate)  { //计算年化利率
          if (!totalStaked) return 0;
          const n1 = (9 * 20 * 60 * 24 * 365) / 23;
          let n2 = (n1 * (1 - commissionRate / 10000)) / totalStaked;
          return parseInt(n2 * 100) + '%';
        },
        time_plus_hours
    }
}
</script>