<template>
    <div class="base_table">
        <div class="tb_title">
            <span v-if="lang" class="tb_title_txt">
                <span class="contract_icon icon"></span>
                <span>{{ lang.contract_name }}</span>
            </span>
            <template>
                <table_nav></table_nav>
            </template>
            <template v-if="$route.name == 'monitor_view'">
                <router-link class="tb_btn tb_more_btn" :to="{name: 'block_view'}">{{ lang.see_all }}</router-link>
            </template>
        </div>

        <mobile_pane v-if="is_mobile"></mobile_pane>
        <pc_pane v-if="!is_mobile"></pc_pane>
       
    </div>
</template>
<script>
import table_nav from '../common/table_nav.vue'
import {
    get_block_list
} from '../../service/eos_service.js'
import { time_plus_hours, is_mobile } from '../utils/utils.js'
import { lang } from '../../data/lang.js'
import store from '../../data/store.js'
export default {
    data () {
        return {
            on_load: false,
            has_more: true,
            load_timestamp: new Date().getTime(),
            page_index: 1,
            page_num: 1,
            page_items_num: 10,
            show_data: [],
            page_list: [],
            lang: lang.data,
        }
    },
    components: {
        table_nav,
        mobile_pane: () => import('./mobile_table.vue'),
        pc_pane: () => import('./pc_table.vue'),
    },
    computed: {
        is_mobile : () => {
            return store.state.global_config.is_mobile
        }
    },
    methods: {
        
    }
}
</script>



