<style>
</style>
<template>
    <div>
        <div class="base_table">
            <div class="tb_title">
                <span class="tb_title_txt">
                    <span class="token_icon icon"></span>
                    <span>{{ lang.account_token_info }}</span>
                </span>
                <span v-if="is_mobile">{{ lang.account_token }}</span>
            </div>
            <div class="table_config" v-if="!brief">
                <div class="fakeloader">
                    <div class="fl spinner4"></div>
                </div>
            </div>
            <div class="detail_tb_ct">
                <table class="base_tb_ct" v-if="brief">
                    <thead>
                        <tr class="">
                            <td>
                                <div>
                                    {{ lang.account_token_info }}
                                </div>
                            </td>
                            <td>
                                <div>
                                    
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tr class="">
                        <td class="w_100">
                            <div class="w_100">
                                {{ lang.account_token_name }}:
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ detail.symbol }}
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div>
                                {{ lang.max_supply }}:
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ detail.max_supply }}
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div>
                                {{ lang.have_supply }}:
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ detail.supply }}
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div>
                                {{ lang.supply_name }}:
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ detail.issuer }}
                            </div>
                        </td>
                    </tr>
                </table>
                <br/>
            </div>
        </div>
        <!-- block origin data -->
        <br/>
        <div class="base_table">
            <div class="tb_title tb_title_gray tb_title_white">
                <span>{{ lang.transaction }}</span>
            </div>
            <account_transaction_table></account_transaction_table>
        </div>
    </div>
</template>
<script>
import {
    get_account_detail,
    get_account_transactions,
    get_account_all_info,
    get_account_info,
    get_token_info_by_symbol
} from '../../service/eos_service.js'
import  account_transaction_table from './account_token_transaction.vue'
import {
    json_html_style,
    time_plus_hours,
    symblo_change
} from '../utils/utils.js'
import { lang } from '../../data/lang.js'
import load_fns from '../common/load_fns.js'
import store from '../../data/store.js'
export default {
    data () {
        return {
            on_load: true,
            load_timestamp: new Date().getTime(),
            symbol: 'ADA',
            detail: null,
            brief: null,
            lang: lang.data
        }
    },
    mounted(){
        this.get_account_detail();
    },
    watch: {
        '$route.params.symbol' () {
            this.reset();
            this.get_account_detail();
        }
    },
    computed: {
        is_mobile : () => {
            return store.state.global_config.is_mobile
        }
    },
    components: {
        account_transaction_table
    },
    methods: {
        reset () {
            this.brief = null;
            this.detail = null;
        },
        async get_account_detail () {
            this.symbol = this.$route.params.symbol;
            let post_time = this.start_load(true);
            this.brief = await get_token_info_by_symbol(this.symbol);
            this.detail = this.brief.contract_info;
            // this.brief = await get_account_info(this.account_name);
            // if(!this.brief.origin_data){
            //     this.detail = await get_account_detail(this.account_name);
            // }else{
            //     this.detail = JSON.parse(this.brief.origin_data);
            // }
            this.finish_load();
        },
        json_html_style,
        symblo_change,
        ...load_fns
    }
}
</script>