<style>
.info_text_ct{
    position: absolute;
    color: #fff;
    background-color: #A7B2BD;
    color: 14px;
    line-height: 27px;
    z-index: 111;
    white-space: nowrap;
    padding: 0px 17px;
    display: block;
    word-break: keep-all;
    right: -17px;
    left: auto;
    top: -45px;
    border-radius: 2px;
}
.info_text_ct_arrow{
    width: 12px;
    height: 12px;
    background-color: #A7B2BD;
    position: absolute;
    right: 18px;
    transform: rotateZ(45deg);
    top: 21px;
    z-index: -1;
}
.show_info_text{
    position: relative;
    overflow: visible;
}
</style>
<template>
    <div class="question_icon" v-bind:class="{show_info_text: is_show}" @mouseover="show" @mouseout="hide">
        <span class="info_text_ct">
            <span class="info_text">{{ params.info_text }}</span>
            <div class="info_text_ct_arrow"></div>
        </span>
    </div>
</template>
<script>
export default {
    data () {
        return {
            is_show: false
        }
    },
    props:{
        params: {
            type: Object,
            default () {
                return {
                    info_text: ''
                }
            }
        }
    },
    methods: {
        show () {
            this.is_show = true;
        },
        hide () {
            this.is_show = false;
        }
    }
}
</script>