<template>
    <div>
        
        <div class="main_content">
            <div class="layout_max">
                <account_detail></account_detail>
            </div>
        </div>
    </div>
</template>
<script>
import account_detail from '../account/account_detail.vue'
export default {
    data () {
        return {}
    },
    components: {
        account_detail
    },
    methods: {}
}
</script>