<template>
    <div>
        
        <div class="main_content">

            <div class="layout_max">
                <account_token_table></account_token_table>
            </div>


        </div>
    </div>
</template>
<script>
import account_token_table from '../account_token/account_token_table.vue'
export default {
    data () {
        return {}
    },
    components: {
        account_token_table,
    },
    methods: {}
}
</script>