<template>
    <div>
        
        <div class="main_content">
            <div class="layout_max">
                <account_token_detail></account_token_detail>
            </div>
        </div>
    </div>
</template>
<script>
import account_token_detail from '../account_token/account_token_detail.vue'
export default {
    data () {
        return {}
    },
    components: {
        account_token_detail
    },
    methods: {}
}
</script>