<template>
    <div>
        
        <div class="main_content">

            <div class="layout_max">
                <block_table></block_table>
            </div>


        </div>
    </div>
</template>
<script>
import block_table from '../block/block_table.vue'
export default {
    data () {
        return {}
    },
    components: {
        block_table,
    },
    methods: {}
}
</script>