<template>
    <div>
        
        <div class="main_content">

            <div class="layout_max">
                <contract_account_table></contract_account_table>
            </div>


        </div>
    </div>
</template>
<script>
import contract_account_table from '../contract_account/contract_account_table.vue'
export default {
    data () {
        return {}
    },
    components: {
        contract_account_table,
    },
    methods: {}
}
</script>