<template>
    <div>
        
        <div class="main_content">

            <div class="layout_max">
                <eos_key_accounts></eos_key_accounts>
            </div>


        </div>
    </div>
</template>
<script>
import eos_key_accounts from '../account/eos_key_accounts.vue'
export default {
    data () {
        return {}
    },
    components: {
        eos_key_accounts,
    },
    methods: {}
}
</script>