<template>
    <div>
        
        <div class="main_content">

            <div class="info_box instruction_box">
                <ul>
                    <li>
                        <a v-bind:href="lang.config_scatter_url" class="blue_ft" target="_blank">{{ lang.no_config_scatter_info }}</a>
                    </li>
                    <li>
                        <a v-bind:href="lang.eos_eth_gohome_activity_url" class="blue_ft" target="_blank">{{ lang.eos_eth_gohome_activity }}</a>
                    </li>
                </ul>
            </div>

            <div class="layout_max">
                <eth_eos_mapping></eth_eos_mapping>
            </div>


        </div>
    </div>
</template>
<script>
import eth_eos_mapping from '../eth_eos_mapping/eth_eos_mapping.vue'
import { lang } from '../../data/lang.js'
export default {
    data () {
        return {
            lang: lang.data
        }
    },
    components: {
        eth_eos_mapping
    },
    methods: {}
}
</script>