<template>
    <div>
        <header_nav></header_nav>
        <search_area></search_area>        
        <router-view></router-view>
    </div>
</template>
<script>

import header_nav from '../layout/header.vue'
import search_area from '../search/search_area.vue'
export default {
    data () {
        return {}
    },
    mounted () {
        
    },
    components: {
        header_nav,
        search_area
    },
    methods: {

    }
}
</script>
