<style>

</style>
<template>

    <div class="main_content">
        <monitor_brief></monitor_brief>
        <div class="mobile_module" v-if="is_mobile">
            <block_table></block_table>
        </div>
        <div class="pc_module" v-if="!is_mobile">
            <div class="layout2">
                <block_table></block_table>
                <transaction_table></transaction_table>
            </div>

            <div class="layout_max">
                <account_table></account_table>
            </div>
        </div>
    </div>

</template>
<script>
import block_table from '../block/block_table.vue'
import transaction_table from '../transaction/transaction_table.vue'
import account_table from '../account/account_table.vue'
import monitor_brief from '../monitor/monitor_brief.vue'
import store from '../../data/store.js'
export default {
    data () {
        return {
            on_load: false
        }
    },
    computed: {
        is_mobile : () => {
            return store.state.global_config.is_mobile
        }
    },
    components: {
        block_table,
        transaction_table,
        account_table,
        monitor_brief
    },
    methods: {}
}
</script>

