<template>
    <div>
        
        <div class="main_content">
            <div class="no_data" v-if="no_data">
                {{ lang.no_search_res }}
            </div>
            <div class="layout_max" v-if="params[0].is_show">
                <account_detail></account_detail>
            </div>

            <div class="layout_max"  v-if="params[1].is_show">
                <block_detail></block_detail>
            </div>

            <div class="layout_max"  v-if="params[2].is_show">
                <transaction_detail></transaction_detail>
            </div>

            <div class="layout_max"  v-if="params[3].is_show">
                <eos_key_accounts></eos_key_accounts>
            </div>

        </div>
    </div>
</template>
<script>
import block_detail from '../block/block_detail.vue'
import transaction_detail from '../transaction/transaction_detail.vue'
import account_detail from '../account/account_detail.vue'
import eos_key_accounts from '../account/eos_key_accounts.vue'
import { lang } from '../../data/lang.js'
export default {
    data () {
        return {
            lang: lang.data,
            params: [
                {
                    param_key: 'account_name',
                    is_show: false
                },
                {
                    param_key: 'block_num',
                    is_show: false
                },
                {
                    param_key: 'trx_id',
                    is_show: false
                },
                {
                    param_key: 'eos_public_key',
                    is_show: false
                }
            ]
        }
    },
    beforeMount () {
        this.check_params();
    },
    computed: {
        no_data () {
            return !this.params.find(function(a){if(a.is_show) return true;})
        }
    },
    components: {
        account_detail,
        block_detail,
        transaction_detail,
        eos_key_accounts
    },
    watch: {
        '$route.params.account_name' () {
            this.check_params();
        },
        '$route.params.block_num' () {
            this.check_params();
        },
        '$route.params.trx_id' () {
            this.check_params();
        },
        '$route.params.eos_public_key' () {
            this.check_params();
        }
    },
    methods: {
        check_params () {
            this.params.forEach((item, index) => {
                let key = item.param_key;
                if(this.$route.params[key] && this.$route.params[key] != '_'){
                    item.is_show = true;
                }else{
                    item.is_show = false;
                }
            });
        }
    }
}
</script>