<template>
    <div>
        
        <div class="main_content">

            <div class="layout_max">
                <transaction_table></transaction_table>
            </div>


        </div>
    </div>
</template>
<script>
import transaction_table from '../transaction/transaction_table.vue'

export default {
    data () {
        return {}
    },
    components: {
        transaction_table,
    },
    methods: {}
}
</script>