<template>
    <div>
        
        <div class="main_content">

            <div class="layout_max">
                <transaction_detail></transaction_detail>
            </div>

        </div>
    </div>
</template>
<script>
import transaction_detail from '../transaction/transaction_detail.vue'

export default {
    data () {
        return {}
    },
    components: {
        transaction_detail
    },
    methods: {}
}
</script>