<style scoped="">
.dialog_mask{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(2, 2, 2, 0.3803921568627451);
  z-index: 1;
}
.dialog{
  width: 305px;
  background-color: #fff;
  border-radius: 4px;
  padding: 30px;
  position: relative;
  animation: slide_dialog 0.2s linear ;
}
.title{
  font-size: 18px;
  text-align: center;
  margin-bottom: 19px;
}
.reward_show{
  text-align: center;
}
.ammount{
  color: rgba(177, 58, 50, 1);
  font-size: 27px;
  line-height: 1;
}
.token_type_box{
  color: rgba(179, 58, 50, 1);
  border: 1px dashed rgba(179, 58, 50, 1);
  font-size: 16px;
  height: 26px;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  display: inline-block;
  margin-top: 10px;
}
.eth_ipt_ct{
  margin-top: 30px;
  margin-bottom: 12px;
}
.eth_ipt_ct input{
  outline: none;
  border: 0px;
  background-color: rgba(238, 238, 238, 1);
  height: 40px;
  width: 100%;
  padding: 10px;
}
.confirm_btn{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(177, 58, 50, 1);
}
.close_d{
  width: 22px;
  height: 22px;
  position: absolute;
  background-color: rgb(218, 218, 218);
  right: 14px;
  top: 14px;
  border-radius: 30px;
  transform: rotateZ(45deg);
}
.close_d .close_d1{
  width: 12px;
  height: 1px;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: 50%;
  margin-top: -1px;
  background-color: rgba(137, 137, 140, 1);
  transform: rotateZ(90deg);
}
.close_d .close_d2{
  width: 12px;
  height: 1px;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: 50%;
  margin-top: -1px;
  background-color: rgba(137, 137, 140, 1);
}
/*cooperation*/
@-webkit-keyframes slide_dialog {
  0% {
    top: -50%;
  }
  /*50% {-webkit-transform: rotate(180deg); }*/
  100% {
    top: 0%;
  }
}
@-ms-keyframes slide_dialog {
  0% {
    top: -50%;
  }
  /*50% {-ms-transform: rotate(180deg); }*/
  100% {
    top: 0%;
  }
}
@keyframes slide_dialog {
  0% {
    top: -50%;
  }
  /*50% {-ms-transform: rotate(180deg); }*/
  100% {
    top: 0%;
  }
}
.info_force{
  color: rgba(137, 137, 140, 1);
  margin-top: 30px;
  text-align: center;
}
</style>
<template>
  <div class="dialog_mask">
    <div class="dialog">
      <div class="close_d" @click="close">
        <div class="close_d1"></div>
        <div class="close_d2"></div>
      </div>
      <div class="title">{{ config.title }}</div>
      <div class="reward_show">
        <div class="ammount">{{ config.token_nums }}</div>
        <div class="token_type_box" v-if="config.token_type">{{ config.token_type }}</div>
      </div>
      <div class="capp_ct">
        <img v-bind:src="get_capp_uri()">
      </div>
      <div class="info_force" v-if="config.name && !config.is_eth_addr">
        原力主网糖果将发放至原力账号 {{ config.name }}
      </div>
      <div class="eth_ipt_ct" v-if="config.is_eth_addr">
        <input placeholder="请点击这里填写获奖ETH地址" v-model="config.eth_addr" />
      </div>
      <div class="confirm_btn" @click="confirm" v-if="!on_load && config.is_eth_addr">确定</div>
      <div class="confirm_btn" v-if="on_load && config.is_eth_addr">保存中</div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      value: ''
    }
  },
  props: {
    config: {
      type: Object,
      default () {
        return {
          title: '恭喜抽中',
          token_nums: '600+600',
          token_type: 'KAN & LDOX',
          eth_addr: '',
          is_eth_addr: false,
          on_load: false,
          name: ''
        }
      }
    },
    on_load: {
      type: Boolean,
      default () {
        return false;
      }
    }
  },

  methods: {
    get_capp_uri () {
      return `/turn_table/get_ccap?${ new Date().getTime() }`;
    },
    close () {
      this.$emit('close');
    },
    confirm () {
      this.$emit('confirm', this.config.eth_addr);
    }
  }
}
</script>



