<style>
body{
  background: #fff;
}
.record_ct{
  padding-left: 20px;
}
.record_item{
  border-bottom: 1px solid rgba(231, 233, 236, 1);
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.ft_16{
  font-size: 16px;
  line-height: 1;
}
.ft_12{
  font-size: 12px;
  line-height: 1;
}
.bottom_des{
  margin-top: 12px;
}
.token_type{
  color: rgba(38, 47, 54, 1);
  font-size: 16px;
  line-height: 1;
}
.action_ammount{
  color: rgba(177, 58, 50, 1);
  text-align: right;
}
.action_time{
  color: rgba(157, 161, 170, 1);
}
.action_edit{
  color: rgba(177, 58, 50, 1);
}
.record_detail{
  padding-right: 24px;
}
.no_data{
  color: rgba(177, 58, 50, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
</style>
<template>
  <div>
    <div class="record_ct">

      <div class="no_data" v-if="on_load_record">
        正在加载...
      </div>

      <div class="no_data" v-if="scatter_config.on_load_scatter">
        正在加载 scatter ...
      </div>

      <div class="no_data" v-if="!on_load_record && !scatter_config.on_load_scatter && !record.length">
        无记录
      </div>

      <div class="record_item" v-for="item in record">
        <div class="record_token_type_des">
          <div class="token_type">{{ item.token_type }}</div>
          <div class="action_time bottom_des">{{  new Date(new Date(item.createdAt).getTime() + 8 * 3600 * 1000).toISOString().replace('T', ' ').replace('.000Z', '') }}</div>
        </div>
        <div class="record_detail">
          <div class="action_ammount ft_16">{{ item.token_type != 'KAN&LD0X' ? item.token_nums : '600 + 600' }}</div>
          <div class="action_edit bottom_des" v-if="item.token_type == 'KAN&LD0X'" @click="start_check(item)">修改获奖地址</div>
          <div class="action_edit bottom_des" v-if="item.token_type != 'KAN&LD0X'"></div>
        </div>
      </div>
    </div>
    <dialog_box v-if="dialog_box_config.title" v-bind:config="dialog_box_config" v-bind:on_load="dialog_box_config.on_load" v-on:confirm="add_eth_addr" v-on:close="clear_dialog_box_config"></dialog_box>
  </div>
</template>
<script>
import '../../assets/css/turn_table.css'
import { wait_time, transfer_for_update_ethaddr } from './utils.js'
import dialog_box from './dialog.vue'
import axios from 'axios'
import Eos from 'eosforce'
const httpEndpoint = 'https://w3.eosforce.cn'
const network = {
    protocol: 'https',
    blockchain: 'eos',
    host: 'w1.eosforce.cn',
    port: 443,
    chainId: 'bd61ae3a031e8ef2f97ee3b0e62776d6d30d4833c8f7c1645c657b149151004b',
}
const check_reward = async (_form_data) => {
  let url = '/turn_table/get_reward';
  let data = await axios.post(url, _form_data);
  return data.data;
}

const update_eth_addr = async (_form_data) => {
  // /update/eth_addr
  let url = '/turn_table/update/eth_addr';
  let data = await axios.post(url, _form_data);
  return data.data;
}

const load_record = async (_form_data) => {
  // /update/eth_addr
  let url = '/turn_table/record';
  let data = await axios.post(url, _form_data);
  return data.data;
}

// record
// 
export default {
  data () {
    return {
      reject_scatter: false,
      scatter_config: {
        check_config_error: false,
        error_msg: '',
        options: {},
        account: {},
        load_times: 0,
        on_load_scatter: true
      },
      record: [],
      on_load_record: false,

      dialog_box_config: {
        title: '',
        on_load: false
      }
    }
  },

  async created () {
    document.body.style.cssText = 'background: #fff';
    this.check_scatter();    
  },

  components: {
    dialog_box
  },

  methods: {
    async check_scatter () {
      if(!window.scatter){
        this.scatter_config.on_load_scatter = true;
        await wait_time(1);
        await this.check_scatter();
      }else{
        let identity = await scatter.getIdentity({accounts:[network]}).catch(err => {
          this.scatter_config.check_config_error = true;
          this.scatter_config.error_msg = err;
          this.scatter_config.on_load_scatter = false;
          throw err;
        });

        this.scatter_config.check_config_error = false;
        this.scatter_config.error_msg = '';

        const account = identity.accounts.find(function(acc){
             return acc.blockchain === 'eos';
        });
        let options = {
         authorization: account.name+'@'+account.authority,
         broadcast: true,
         sign: true
        }    
        this.scatter_config.options = options;
        this.scatter_config.account = account;
        this.scatter_config.permission = account.authority;
        this.scatter_config.on_load_scatter = false;
        this.scatter_config.eos = scatter.eos(network, Eos,  options, "https");

        this.load_record();
      }
    },

    async load_record () {
      if(this.on_load_record) return ;
      this.on_load_record = true;
      let res = await load_record({
        name: this.scatter_config.account.name,
      });
      if(res.status == 0){
        this.record.splice(0, 0, ...res.data)
      }
      this.on_load_record = false;
    },

    async start_check (item) {
      if(!window.scatter){
        alert('no scatter')
        return ;
      }
      if(this.scatter_config.error_msg){
        alert(JSON.stringify(this.scatter_config.error_msg));
        this.check_scatter();
        return ;
      }

      Object.assign(this.dialog_box_config, item);
      this.dialog_box_config.title = '修改获奖地址';
      if(item.token_type == 'KAN&LD0X'){
        this.dialog_box_config.is_eth_addr = true;
        this.dialog_box_config.on_load = false;
      }
    },
    async add_eth_addr (eth_addr) {
      if(this.dialog_box_config.on_load) return ;
      this.dialog_box_config.on_load = true;
      let id = this.dialog_box_config.id;

      let transfer_res = await transfer_for_update_ethaddr(this.scatter_config.eos,  this.scatter_config.account.name, 'eosclucky', this.scatter_config.permission).catch(error => {
        this.dialog_box_config.on_load = false;
        throw error;
      });

      let res = await update_eth_addr({
        name: this.scatter_config.account.name,
        eth_addr: eth_addr,
        id,
        trx_id: transfer_res.transaction_id
      });

      if(res.status == 0){
        this.clear_dialog_box_config();
        this.record.find(item => item.id == id).eth_addr = eth_addr;
      }else{
        this.dialog_box_config.on_load = false;
        alert(res.msg);
      }

    },
    close_box () {
      
    },
    clear_dialog_box_config () {
      for(let _key in this.dialog_box_config){
        this.dialog_box_config[_key] = '';
      }
    }
},
}
</script>

