*{
    -webkit-font-smoothing: antialiased;
}
body{
    background-color: #243F5B;
}
.logo{
    background-image: url('../image/web/eos_blog_logo.png');
}
.header_nav{
    height: 102px;
}
.contact_item{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 24px;
    height: 20px;
    position: relative;
}
.contact_item_pane{
    position: absolute;
    /*background-color: rgba(255, 255, 255, 0.6);*/
    min-width: 300px;
    margin-top: 10px;
    display: none;
}
.contact_item:hover .contact_item_pane{
    display: block;
}
.telegram{
    background-image: url('../image/web/telegram.png');
}
.wechat{
    background-image: url('../image/web/wechat.png');
}
.twitter{
    background-image: url('../image/web/twitter.png');
}
.weibo{
    background-image: url('../image/web/weibo.png');
}
.git{
    background-image: url('../image/web/git.png');
}
.email{
    background-image: url('../image/web/email.png');
}
.wx_pane{
    background-image: url('../image/web/wx-link.jpg');
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}
.blog_item_logo{
    width: 36px;
    height: 36px;
    background-image: url('../image/web/eos_blog_head_logo.png');
    background-size: contain;
    background-position: center;
    margin-right: 14px;
}
.blog_main{
    /*background-color: #000;*/
    padding-top: 156px;
    width: 1080px;
    margin: 0 auto;
    position: relative;
    color: #fff;
    clear: both;
}
.blog_main:after{
    content: '';
    display: block;
    clear: both;
}
.blog_brief{
    position: absolute;
    width: 492px;
    left: 0px;
}
.blog_list_ct{
    padding-top: 123px;
    width: 588px;
    /*background-color: #fff;*/
    float: right;
    padding-bottom: 100px;
}
.blog_brief_tag{
    color: #E6E6E6;
    font-size: 12px;
    line-height: 1;
    font-weight: 300;
}
.blog_brief_tag_cn{
    font-size: 28px;
    margin-top: 18px;
    color: #fff;
}
.blog_brief_des{
    margin-top: 65px;
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
    width: 280px;
}
.blog_foot{
    margin-top: 35px;
}
.contact_area{
    margin-top: 22px;
    display: flex;
}
.contact_area .contact_item{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.contact_area .contact_item:hover{
    background-color: rgba(21, 43, 66, 0.08);
    border-radius: 5px;
}
.blog_item{
    background-color: #2A496A;
    padding: 27px;
    margin-bottom: 24px;
    font-weight: 300;
}
.blog_item_brief_ct{
    display: flex;
    align-items: center;
}
.blog_date{
    margin-top: 6px;
}
.blog_item_title, .blog_item_txt h1{
    font-size: 24px;
    line-height: 32px;
    padding: 22px 0px;
    font-weight: 400;
}
.blog_item_bg{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.blog_item_bg img{
    display: block;
    width: 100%;
}
.blog_item_txt{
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    padding: 16px 0px;
}
.blog_item_txt img{
    display: block;
    width: 100%;
}
.blog_item_txt svg{
    display: none;
}
.blog_item ol{
    padding-left: 20px;
}
.blog_item pre{
    background: #f7f9fa;
    border: 1px solid #e6e8eb;
    color: #1b2733db;
    font-weight: 300;
    line-height: 20px;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    margin: 20px 0px;
}
.read_more{
    color: #fff;
    position: relative;
    left: -6px;
}
.read_more:hover{
    color: #009DDA;
}
.end_actions_ct{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog_list_load_ct{
    height: 60px;
    cursor: pointer;
}
.blog_load_btn{
    display: inline-block;
    border: 1px solid #152b42;
    padding: 6px 19px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.blog_list_load_ct .load_circle{
    border: 1px solid #eff0f4;
    border-top: 1px solid rgba(0, 0, 0, 0);
}
.blog_item_detail{
    width: 720px;
    margin: 0 auto;
}
.ci_arrow{
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    margin-top: 18px;
}
.ci_container{
    background-color: #fff;
    margin-top: 23px;
    padding: 10px 10px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    position: relative;
    z-index: 1;
}
.social_list{
    list-style: none;
    line-height: 64px;
    font-size: 16px;
}
.social_list>li{
    border-bottom: 1px solid #eee;
}
.social_list>li:last-child{
    border-bottom: 0px;
}
.social_list a{
    padding: 0px 10px;
    display: block;
    color: #408ee1;
}
.social_list a:hover{
    color: #1e266f;
    background-color: #eee;
}
.blog_item_page_bg{
    height: 250px;
}
.blog_item_txt p{
    line-height: 22px;
    margin-top: 22px;
}
.blog_item_txt p code{
    background: #eeeeee42;
    padding: 1px 10px;
    border-radius: 5px;
}
.blog_item_txt h2{
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
}
.blog_copyright{
    background: #0bceaa80;
    color: #131313;
    padding: 12px 10px;
    border-radius: 2px;
    margin-top: 30px;
    line-height: 1;
}
.dialog_mask{
    overflow: scroll;
}
.page_action_tools{
    text-align: right;
}
.page_action_tools a{
    color: #fff;
}
.page_action_tools .splice_lint{
    margin-right: 20px;
    margin-left: 20px;
}
.blog_actions_ct{
    width: 720px;
    margin: 0 auto;
    padding: 20px 0px;
    text-align: right;
}
.blog_action_btn{
    display: inline-block;
    padding: 6px 24px;
    /*border: 1px solid #dedede;*/
    /*color: #fff;*/
    border-radius: 4px;
}
.blog_main .dialog{
    width: 720px;
    margin-left: -360px;
}
.blog_main .dialog_item{
    display: block;
}
.blog_main .dialog_item span{
    display: block;
}
.blog_main .dialog_item_title{
    font-size: 12px;
    color: #666;
}
.blog_main .dialog_item span>input{
    display: block;
    font-size: 16px;
    border: 1px solid #eee;
    border-radius: 0px;
    padding: 10px 10px;
    width: 100%;
    outline: none;
}
.blog_main .max_ipt{
    width: 100%;
    min-height: 200px;
}