@media (max-width: 800px) {
    .header_nav{
        height: 56px;
    }
    .blog_main{
        padding-top: 100px;
        width: auto;
    }
    .blog_brief{
        position: relative;
        padding: 0px 15px;
        width: auto;
    }
    .blog_brief_hd{
    }
    .blog_brief_tag_cn{
        font-size: 24px;
        margin-top: 13px;
    }
    .blog_brief_des{
        margin-top: 40px;
        line-height: 34px;
    }
    .blog_list_ct{
        width: auto;
        padding: 15px;
    }
    .blog_list_ct{
        float: none;
    }
    .blog_item_detail{
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        padding: 15px;
    }
}