.ei_head{
    /*height: 800px;*/
    width: 100%;
    background: linear-gradient(45deg, #4556FE, #9762FA);
    position: relative;

    /*height: 800px;*/
    background: linear-gradient(45deg,#4556fe,#9762fa);
    background-image: url('../image/web/271545304029_.pic_hd.jpg');
    width: 100%;
    position: relative;
    /*background-image: url(/eos_invite_bg2.jpg);*/
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #e20c25;
    height: 600px;
    background-position: center;
}
.ch_twitter{
    background-image: url('../image/web/281545361885_.pic_hd_ch.jpg');
}
.en_twitter{
    background-image: url('../image/web/291545361887_.pic_hd_en.jpg');
}
.share_ct{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 76px;
}
.share_ct a{
    margin-left: 20px;
    margin-right: 20px;
}
.tl_default{
    display: inline-block;
    width: 63px;
    height: 63px;
    background-image: url('../image/web/tl_default.png');
    background-size: contain;
    border-radius: 200px;
}
.tl_default:hover{
    background-image: url('../image/web/tl_hover.png');
    background-color: #4556fe;
}
.twitter_default{
    display: inline-block;
    width: 63px;
    height: 63px;
    background-image: url('../image/web/twitter_default.png');
    background-size: contain;
    border-radius: 200px;
}
.twitter_default:hover{
    background-color: #4556fe;
    background-image: url('../image/web/twitter_hover.png');
}
.style_load_img{
    height: 0px;
    width: 0px;
    overflow: hidden;
    background-image: url('../image/web/tl_hover.png'), url('../image/web/twitter_hover.png');
}
.logo{
    width: 197px;
    height: 50px;
    background-image: url('../image/web/71545294274_.pic.jpg');
    display: inline-block;
    top: 0px;
    margin-top: 17px;
    margin-left: 24px;
}
.eos_main_title .eos_mt_txt{
    margin-left: 15px;
    margin-right: 15px;
}
.view_how_to_ct{
    margin-top: 40px;
    text-align: center;
    padding-bottom: 87px;
}
.view_how_to{
    background-color: #E8AA2F;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px;
    display: inline-block;
    border-radius: 4px;
}
.snow_piece{
    width: 40px;
    height: 40px;
    background-image: url('../image/web/snow_piece.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}
.eos_main_title{
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    line-height: 72px;
    padding-top: 244px;
    position: relative;
    z-index: 2;
     display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    line-height: 1;
}
.ei_des{
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    padding-top: 20px;
    position: relative;
    text-align: center;
    z-index: 2;
}
.invite_box{
    border: 1px solid #e6e6e6;
    background-color: #fff;
    position: relative;
}
.mgt_58{
    margin-top: 58px;
}
.mgt_38{
    margin-top: 38px;
}
.mgt_72{
    margin-top: 72px;
}
.mgt_46{
    margin-top: 46px;
}
.invite_box_title{
    font-size: 32px;
    line-height: 1;
    padding: 36px;
    font-weight: 400;
    text-align: center;
    color: #333;
}
.invite_box_content{
    padding: 20px;
    padding: 12px 108px;
}
.invite_list_item{
    line-height: 20px;
    font-size: 14px;
    color: #999999;
    margin-bottom: 26px;
    position: relative;
    padding-left: 42px;
}
.invite_list_item_radio{
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border-radius: 18px;
    border: 4px solid #DF3334;
    position: absolute;
    left: 0px;
    top: 0px;
}
.sended_eos{
    text-align: center;
}
.se_num{
    color: #4556FE;
    font-size: 54px;
}
.se_sys{
    color: #333333;
    font-size: 32px;
    margin-left: 14px;
}
.sys_update_tag{
    color: #999999;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    font-weight: 300;
    padding: 10px;
    padding-top: 38px;
}
.invite_info{
    color: #999999;
    font-size: 14px;
    line-height: 20px;
}
.invite_form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
    position: relative;
}
.invite_tag{
    margin-right: 20px;
}
.tg_ipt{
    height: 48px;
    width: 560px;
    font-size: 14px;
    background-color: #EFF0F4;
    outline: none;
    border: 0px;
    box-sizing: border-box;
    padding: 8px 16px;
    border-radius: 0px;
}
.btn{
    height: 48px;
    display: flex;
    align-items: center;
    background: #4556FE;
    color:#fff;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.copy_btn{
    margin-left: 10px;
}
.invite_info{
    padding-bottom: 30px;
}
.tab_ct{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.tab_ct .btn{
    height: 50px;
    background-color: #fff;
    border: 1px solid #4556FE;
    color: #333333;
    margin-left: 2px;
    margin-right: 2px;
}
.tab_ct .btn:hover{
    color: #4556FE;
}
.tab_ct .btn_tb_focus{
    background: #4556FE;
    color:#fff;
}
.tab_ct .btn_tb_focus:hover{
    color: #fff;
}
.w_100{
    width: 100px;
}
.blue_ft{
    color: #408ee1;
}
.light_info{
    /*color: #333;*/
}
#letters{
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}
.show_copy_info{
    background: #e8f7ed;
    color: #1BA84E;
    padding: 6px 10px;
    width: 160px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #30b661;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    top: 10px;
}
.error_info{
    color: red;
    background-color: #f7f1e8;
    border: 1px solid #b64f30;
}
.hd_bg{
    width: 545px;
    height: 505px;
    background-image: url('../image/web/eos_invite_bg.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 172px;
    right: -1px;
}
.hd_box{
    position: relative;
}
.no_data{
    height: 60px;
}
.dialog_mask{
    position: fixed;
    background-color: rgba(51,51,51,.5);
    z-index: 21;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.dialog{
    width: 428px;
    height: auto;
    box-sizing: border-box;
    border: 6px solid #333333b5;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -214px;
    top: 100px;
}
.dialog_title{
    font-size: 22px;
    line-height: 1;
    padding: 26px 28px;
    color: #333;
}
.dialog_content_ct{
    border: 1px solid #eee;
    margin: 10px;
    margin-top: 0px;
    font-size: 14px;
    line-height: 26px;
    padding: 22px 0px;
}
.dialog_item{
    padding: 6px 18px;
}
.blue_ft{
    color: #404BC1;
    cursor: pointer;
}
.exchange_tag{
    color: #1024a0;
    margin-top: 10px;
    display: inline-block;
}
.account_tag{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    display: inline-block;
    font-size: 21px;
}
.t11{
    color: #333;
    padding-bottom: 10px;
    display: block;
}
.des_content{
    color: #020202;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 20px;
    padding: 40px;
    padding-right: 594px;
    border: 1px solid #e8e7e7;
    position: relative;
    padding-bottom: 100px;

    font-size: 16px;
    color: #615a53;
    line-height: 1.4rem;
}
.des_content{
    /*font-size: 12px;*/
}
.pdl_40{
    padding-left: 20px;
}
.mgt_12{
    margin-top: 13px;
}
.des_content_form{
    position: absolute;
    right: 0px;
    left: 645px;
    top: 0px;
    height: 100%;
    background-color: blue;
    background-color: #f8fafb;
}
.view_scatter_introduction_ct{
    display: flex;
    align-items: center;
    justify-content: center;
}
.view_scatter_introduction{
    display: inline-block;
    color: #fff;
    background-color: #6556da;
    padding: 10px 40px;
    border-radius: 4px;
    margin-top: 193px;
}
.view_scatter_introduction:hover{
    background-color: #463e8a;
    color: #fff;
}
.active_form{
    width: 80%;
    margin: 0 auto;
    margin-top: 46px;
}
.active_input{
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 10px;
}
.active_btn{
    font-size: 14px;
    height: 39px;
    border-radius: 4px;
    background-color: #007ee5;
    border: 1px solid #007ee5;
}
.active_btn_blur{
    background-color: #408ee1e3;
    color: #eee;
}
.active_form_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 40px;
}
.active_form_account_tag{
    color: #716f6f;
}
.active_account_name{
    font-size: 18px;
    text-decoration: underline;
}
.choose_tag{
    font-size: 16px;
    color: #007ee5;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.scatter_btn{
    margin-top: 10px;
    background-color: #408ee18f;
    color: #4c4b4b;
    border: 1px solid #007ee54f;
    color: #fff;
}
.scatter_active_introduction{
    margin-top: 30px;
    color: #7d7c7c;
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 14px;
}
.des_logo_ct{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: -31px;
    margin-top: -30px;
}
.des_logo_ct .logo{
    height: 37px;
    width: 109px;
    position: relative;
    margin-top: 0;
}
.des_logo_ct .logo_txt{
    position: relative;
    top: 2px;
}
.active_banner_text{
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: 9px;
}
.ei_des, .eos_main_title{
    padding-top: 0px;
}
.ei_des{
     margin-top: 24px;
    font-size: 18px;
}