@media (max-width: 800px) {
    .main_content{
        margin-top: 0px;
        position: initial;
    }
    .ei_head{
        height: 458px;
        background-size: cover;
    }
    .eos_main_title{
        font-size: 20px;
        line-height: 36px;
        /*padding-left: 38px;*/
        /*padding-top: 146px;*/
    }
    .ei_des{
        padding-top: 12px;
        line-height: 23px;
        padding-left: 38px;
        padding-right: 56px;
        font-size: 12px;
    }
    .mgt_58{
        margin-top: 16px;
    }
    .mgt_38{
        margin-top: 16px;
    }
    .mgt_72{
        margin-top: 34px;
    }
    .mgt_46{
        margin-top: 20px;
    }
    .invite_box{
        margin-left: 10px;
        margin-right: 10px;
    }
    .invite_box_title{
        font-size: 16px;
        padding: 20px;
    }
    .invite_box_content{
        padding: 3px 19px;
    }
    .invite_list_item{
        margin-bottom: 20px;
        padding-left: 15px;
        line-height: 17px;
    }
    .invite_list_item_radio{
        width: 8px;
        height: 8px;
        border: 2px solid #df3334;
        top: 4px;
        font-size: 13px;
    }
    .se_num{
        font-size: 32px;
    }
    .se_sys{
        font-size: 16px;
    }
    .sys_update_tag{
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .tab_ct .btn{
        min-height: 36px;
        font-size: 13px;
        font-size: 13px;
        width: 36.333%;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
        justify-content: center;
        margin: 0px;
        margin-right: -1px;
    }
    .btn{
        font-size: 13px;
    }
    .invite_tag{
        text-align: center;
        line-height: 1;
        padding: 7px 0px 13px 0px;
    }
    .invite_form{
        justify-content: space-between;
    }
    .copy_btn{
        padding-left: 9px;
        padding-right: 9px;
        margin-left: 7px;
        height: 36px;
    }
    .tg_ipt{
        height: 36px;
        width: 70%;
    }
    .invite_info{
        font-size: 13px;
        line-height: 17px;
    }
    .tb_ct{
        padding: 0px;
    }
    .hd_bg{
        width: 274px;
        height: 248px;
        background-size: contain;
        top: auto;
        bottom: 0px;
        right: auto;
        left: 50%;
        margin-left: -137px;
    }
    .dialog{
        width: auto;
        left: 10%;
        right: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    .des_content_form{
        position: relative;
        box-shadow: 0px 0px 3px #eee;
        margin-top: 20px;
        padding-bottom: 20px;
        left: auto;
    }
    .des_content{
        padding: 20px;
    }
    .active_form{
        width: 90%;
    }
    .des_logo_ct{
        margin-top: 0px;
    }
    .des_logo_ct .logo{
        margin-right: 12px;
    }
    .des_logo_ct .logo_txt{
    }
    .logo{
        left: -10px;
        width: 100px;
        height: 25px;
    }
    .eos_mt_txt{
        font-size: 14px;
    }
}