*{
  word-break: break-word;
}
body{
  background-color: #243F5B;
}
.main{
  display: flex;
  padding-top: 91px;
  height: 100%;
  color: #fff;
}
.left_nav{
  width: 303px;
  border-right: 1px solid #fff;
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 161px;
  padding-left: 30px;
  padding-right: 30px;
  overflow-y: scroll;
}
.content{
  border-left: 1px solid #fff;
  margin-left: -1px;
  margin-left: 302px;
  padding-left: 60px;
  padding-right: 60px;
}
h1{
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  padding-bottom: 32px;
}
.nav_content_ct{
  border-top: 1px solid #375069;
  line-height: 36px;
  font-size: 12px;
  padding-top: 28px;
}
.nav_content_ct ul li{
  list-style: none;
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.nav_item{
  padding-left: 29px;
}
.nav_item:hover, .nav_item_select{
  background-color: #385879;
}
.nav_content_ct ul li ul{
  margin-left: 19px;
}
h2{
  font-size: 38px;
  font-weight: 400;
  padding-bottom: 20px;
}
.ph{
  font-size: 20px;
  line-height: 45px;
  padding-bottom: 25px;
}
.content_des{
  font-size: 20px;
  line-height: 45px;
}
.code{
  background-color: #385879;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 50px;
}
a{
  color: #01B3FF;  
}

.icon{
  background-image: url('../image/web/logo.png');
  display: inline-block;
  height: 24px;
  width: 36px;
  background-size: 11px 11px;
  background-position: center;
  background-repeat: no-repeat;
}
.plus{
  background-image: url('../image/web/plus.jpg');
}
.minus{
  background-image: url('../image/web/minus.jpg');
}

.header_nav{
    top: 0px;
}
.header_nav ul li.list_dw_nav a{
    padding-right: 0px;
}
.list_dw_nav{
    padding-right: 24px;
}
.list_dw_nav .dw_nav_list .dw_nav_child{
    min-width: auto;
    white-space: nowrap;
}
.list_dw_nav .dw_nav_list{
    width: auto;
    left: 9px;
}
.logo{
    margin-left: 0px;
}
.header_nav_ct{
    max-width: inherit;
    margin-left: 30px;
    margin-right: 30px;
}
.faq_title{
    height: 70px;
    position: absolute;
    left: 178px;
    align-items: center;
    display: flex;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
@media (max-width: 800px) {
    .header_nav_ct{
        margin: 0px;
    }
    .faq_title {
        left: 0px;
        height: 52px;
        justify-content: center;
        width: 100%;
    }
    .left_nav{
        display: none;
    }
    .content{
        margin-left: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    h2{
        font-size: 24px;
    }
}

