*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    background: #F9F9F9;
    opacity: 1;
    font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
    font-family: -apple-system,Noto Sans,Helvetica Neue,Helvetica,sans-serif;
    margin: 0px;
    font-weight: 300;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
ul{
  padding: 0px;
}
a{
    text-decoration: none;
    color: #070709;
}
a:hover{
    color: #408EE1;
}
div{
  word-break: break-all;
}
.blue_ft{
  color: #1990FF;
  color: #181819;
}
.logo{
  background-image: url('../image/web/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 158px;
  height: 46px;
  position: absolute;
  top: 50%;
  margin-top: -23px;
  left: 0px;
}
.header_nav{
    position: fixed;
    height: 70px;
    width: 100%;
    background: #fff;
    z-index: 1;
 }
 .header_nav_ct{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
 }
 .header_nav ul li{
    display: inline-block;
 }
 .header_nav ul li a{
    color: #131212;
    display: block;
    height: 72px;
    line-height: 72px;
    padding: 0px 24px;
 }
 .header_nav ul li a:hover, .header_nav ul li a.nav_focus{
    color: #7b7a77;
}
.hd_actions{
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}
.hd_actions .lang_icon{
    font-size: 14px;
    color: #636363;
    line-height: 1;
    cursor: pointer;
    margin-left: 32px;
}
.main_content{
  width: 1200px;
  margin: 0 auto;
}
.top_hd_content{
    margin: 10px;
}
.main_title{
    border-bottom: 1px solid #555;
    color: #fff;
    font-size: 36px;
}
.sm_title{
    border-bottom: 1px solid #555;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 20px;
}
.load_circle{
    border: 1px solid #0bceaa;
    border-top: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    animation: rotate 1s linear infinite;    
}
.base_load_ct{
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}
.bigger_load .load_circle{
  width: 30px;
  height: 30px;
}
.base_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.td_more_show{
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  word-break: initial;
}
.total_brief_ct{
    display: flex;
}
.total_brief_ct .brief_item{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}
.total_brief_ct .brief_item .brief_item_txtct{
    background: #0fe0b7;
    padding: 10px 15px;
    font-size: 18px;
    color: #fff;
    text-align: right;
    position: relative;
}
.brief_detail{
    display: block;
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    position: relative;
}
.brief_detail .arrow_icon{
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
}
.brief_item_txtct .brief_icon{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -20px;
    color: #fff;
    font-size: 40px;
}
.brief_nums_ct{
    font-size: 36px;
    margin-top: 10px;
}
.base_table{
    width: 580px;
    background: #fff;
    border: 1px solid #E8E8E8;
    position: relative;
}
.table_config{
  min-height: 470px;
  position: relative;
}
.base_table tr div{
  line-height: 30px;
}
.tb_title{
    font-size: 18px;
    color: #243F5B;
    /*padding: 16px 22px;*/
    position: relative;
    border-bottom: 1px solid #E8E8E8;
    height: 58px;
    display: flex;
    padding-left: 23px;
    align-items: center;
}
.tb_title_gray{
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  padding: 14px 22px;
  padding: 0px 22px;
  background: #EFF0F4;
}
.tb_title_white{
  background: #fff;
}
.tb_btn{
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    padding: 7px;
    color: #070709;
    border: 1px solid #070709;
    border-radius: 3px;
    cursor: pointer;
}
.tb_btn:hover{
    background: #FFC107;
    border: #FFC107;
    color: #fff;
}
.tb_more_btn{
    position: absolute;
    right: 22px;
    top: 50%;
    margin-top: -15px;
}
.base_tb_ct{
    width: 100%;
    border-spacing: 0;
}
.base_tb_ct tr td, .base_tb_ct tr th{
    text-align: left;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #070709;
    border-bottom: .5px solid #E8E8E8;
    border-bottom: 1px solid #efefef;
}
.base_tb_ct tr td:first-child, .base_tb_ct tr th:first-child{
  padding-left: 6px;
}
.tr_bg{
    background: #EFF0F4;
}
.base_tb_ct tr th{
    line-height: 59px;
}
.base_tb_ct tr:hover{
    background: #EFF0F4;
}
.base_tb_ct thead tr:hover{
  background: none;
}
.data_td{
    line-height: 21px;
    padding: 13px 0px;
}
.detail_tb_ct{
  padding: 0px 16px;
}
.layout2{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}
.tb_ct{
  margin: 0px 16px;
}
.layout_max{
    margin-top: 40px;
    margin-bottom: 90px;
}
.layout_max .base_table{
    width: 100%;
    position: relative;
}
.page_icon, .page_icon_left{
  background-image: url('../image/web/left_p.png');
  background-size: 4px 8px;
  background-position: center;
  background-repeat: no-repeat;
}
.page_icon_right{
  background-image: url('../image/web/right_p.png');
}
.page_leftend_icon{
  background-image: url('../image/web/left_end.png');
  background-size: 4px 8px;
  background-position: center;
  background-repeat: no-repeat;
}
.page_rightend_icon{
  transform: rotate(-180deg);
}
.tb_footer_ct{
    padding-top: 25px;
    padding-bottom: 46px;
}
.tb_page_actions{
    display: flex;
    justify-content: center;
}
.tb_page_actions .tb_page_item{
    display: inline-block;
    padding: 0px 8px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
    color: #869097;
    cursor: pointer;
    margin-right: 1px;
    margin-left: 1px;
}
.tb_page_actions .tb_page_item:hover{
  box-shadow: 0px 0px 2px;
}
.tb_page_actions .tb_page_focus{
    color: #fff;
    background: #FFC107;
}
pre {
  outline: 0px solid #ccc; 
  padding: 5px; 
  margin: 5px; 
  word-wrap: break-word;
  white-space: pre-wrap;
}
/*.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }*/
.code_ct{
  margin: 32px 22px;
}
.tb_title_comments{
    font-size: 14px;
    color: #98979C;
    margin-left: 6px;
}
.w_40{
  width: 70px;
}
.w_70{
  width: 70px;
}
.w_100{
  width: 100px;
}
.w_48{
  width: 48px;
}
.w_150{
  width: 150px;
}
.w_200{
  width: 200px;
}
.fakeloader{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  margin-top: 0px;
  left: 0px;
  margin-left: 0px;
  background-color: rgba(249, 246, 246, 0.25);
}
.fakeloader .spinner4{
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -15px;
}
.no_data{
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #666;
}
.get_more_ct{
  text-align: center;
  padding: 30px;
}
.more_action_item{
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  padding: 15px 42px;
}
.get_more_action{
  background-color: #EFF0F4;
  color: #408EE1;
}
.get_more_action:hover{
  background-color: #408EE1;
  color: #fff;
}
.gray_info_txt{
    color: #9e9d9d;
    font-weight: 300;
}
.search_area{
    padding-top: 70px;
    height: 370px;
    background: #243F5B;
    width: 100%;
    color: #3a3939;
    background-image: url('../../assets/image/web/search_bg.png');
}
.search_title{
    font-size: 30px;
    line-height: 1;
    padding-top: 88px;
    text-align: center;
    color: #353333;
}
.search_second_title{
    padding-top: 6px;
    padding-bottom: 15px;
    font-size: 14px;
    color: #2e3031;
    text-align: center;
}
.search_area .search_form_ct{
    margin: 0 auto;
}
.search_form_ct{
    height: 48px;
    position: relative;
    width: 644px;
    /*width: 800px;*/
}
.show_on_nav{
    position: fixed;
    left: 50%;
    margin-left: -400px !important;
    top: 11px;
    z-index: 2;
    background: #fff;
}
.search_ipt{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    background-size: 15px 15px;
    background-position: right 24px center;
    background-repeat: no-repeat;
    border: 1px solid #5b5c5d;
    border-radius: 60px;
    outline: none;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 14px;
    color: #565353;
}
.search_categorys{
    position: absolute;
    line-height: 1;
    font-size: 14px;
    right: 60px;
    top: 50%;
    margin-top: -7px;
    display: flex;
    opacity: 0;
}
.search_categorys .search_cate_item{
    margin-left: 16px;
    color: rgba(232, 232, 232, 0.6);
    cursor: pointer;
}
.search_categorys .search_cate_item_focus{
    color: #E8E8E8;
}
.focus_search_form{
    width: 800px;
}
.focus_search_form .search_categorys{
    opacity: 1;
}
.focus_search_form .search_ipt{
    background-image: none;
}
.search_btn{
    background-image: url('../../assets/image/web/search_icon.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.search_content_ct{
    width: 800px;
    margin: 0 auto;
}
.pc_module{
  display: block;
}
.mobile_module{
  display: none;
}
.pc_module .table_nav{
  display: none;
}
.table_nav{
    position: absolute;
    top: 50%;
    font-size: 14px;
    line-height: 1;
    margin-top: -7px;
    right: 20px;
}
.focus_nav{
    color: #408EE1;
}
.serach_eos_eth_ct{
    padding: 28px 20px;
}
.search_eos_eth_title{
    line-height: 1;
}
.search_ee_area{
    margin-top: 32px;
}
.tags_ct{
    display: flex;
}
.tag_item{
    height: 38px;
    line-height: 38px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #070709;
    margin-right: -6px;
}
.tag_rectange_one{
    border: 1px solid #E8E8E8;
    border-right: 0px;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 21px;
    height: 100%;
}
.tag_rectange_two{
    border-bottom: 1px solid #E8E8E8;
    width: 21px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.tag_arrow{
    width: 100px;
    height: 100px;
    background: #79404000;
    transform: rotateZ(60deg);
    border-top: 1px solid #E8E8E8;
    position: absolute;
    right: 0px;
    top: 0px;
}
.tag_text_ct{
    padding: 0px 22px 0px 12px;
    position: relative;
}
.tag_item:hover, .tag_item_select{
    position: relative;
    z-index: 1;
}
.tag_item:hover .tag_rectange_one,
.tag_item:hover .tag_rectange_two,
.tag_item:hover .tag_arrow,
.tag_item_select .tag_rectange_one,
.tag_item_select .tag_rectange_two,
.tag_item_select .tag_arrow
{
    background-color: #EFF0F4;
    border: 1px solid #EFF0F4;
}
.search_ee_text{
    position: relative;
}
.search_ee_text input{
    font-size: 14px;
    padding: 15px 13px 14px 13px;
    display: block;
    width: 100%;
    border: 1px solid #EFF0F4;
    background: #EFF0F4;
    margin-top: -1px;
    outline: none;
    box-sizing: border-box;
}

.brief_items_ct{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 24px;
}
.brief_items_ct .brief_item{
    background-color: #fff;
    border: 1px solid #E8E8E8;
    flex: 1;
    margin-right: 30px;
    padding-top: 25px;
}
.brief_items_ct .brief_item:last-child{
    margin-right: 0px;
}
.brief_item_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1;
}
.brief_item_icon{
    display: block;
    width: 13px;
    height: 13px;
    background-color: #408EE1;
    margin-right: 10px;
    border-radius: 2px;
}
.brief_item_content{
    text-align: center;
    padding: 11px 0px 15px 0px;
    font-size: 34px;
    line-height: 1;
    color: #408EE1;
}
.view_brief_detail{
    border-top: 1px solid #E8E8E8;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}
.right_arrow{
  display: inline-block;
  height: 12px;
  width: 12px;
  background-image: url('../../assets/image/web/right_arrow_black.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.view_brief_detail:hover .right_arrow{
  background-image: url('../../assets/image/web/right_arrow_blue.png');
}
.view_brief_icon{
  margin-left: 6px;
}
.action_ct{
  display: flex;
}
.action_ct .splite_line{
  margin-left: 5px;
  margin-right: 5px;
  color: #98979c;
}
.info_box{
    border: 1px solid #eee;
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}
.instruction_box{
  padding: 0px 20px;
  line-height: 40px;
  background: #eff0f4;
  /*font-size: 12px;*/
}
.instruction_box ul {
  line-height: none;
}
.instruction_box ul li{
  border-bottom: 1px solid #e8e8e8;
  list-style: none;
}
.instruction_box ul li:last-child{
  border-bottom: 0px solid rgba(0, 0, 0, 0);
}
.instruction_box .blue_ft{
  color: #115396de;
}
.nav_dw_arrow{
    width: 10px;
    height: 5px;
    display: inline-block;
    /*background-image: url('../../assets/image/web/select_arrow.png');*/
    background-image: url('../../assets/image/web/select_arrow2.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.brief_analytics_icon{
    display: inline-block;
    background-image: url('../../assets/image/web/analytics_brief.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
}
.transaction_icon{
    display: inline-block;
    background-image: url('../../assets/image/web/transaction_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
}
.blocks_icon{
    display: inline-block;
    background-image: url('../../assets/image/web/blocks_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
}
.question_icon{
    display: inline-block;
    background-image: url('../../assets/image/web/question_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
}
.contract_icon{
    display: inline-block;
    background-image: url('../../assets/image/web/contract_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
}
.view_detail_arrow{
    display: inline-block;
    background-image: url('../../assets/image/web/view_detail_arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 10px;
}
.token_icon{
    display: inline-block;
    background-image: url('../../assets/image/web/token_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
}
.mgr_10{
  margin-right: 10px;
}
.tb_title_txt{
  display: flex;
  align-items: center;
  height: 58px;
  font-weight: 500;
}
.tb_title_txt .icon{
  margin-right: 10px;
}
.dw_nav_item{
    position: relative;
}
.dw_nav_item .dw_nav_item_tt{
    display: flex;
    align-items: center;
    height: 54px;
}
.dw_nav_item_tt .nav_dw_arrow{
    margin-left: 5px;
}
.dw_nav_item .dw_nav_list .dw_nav_child{
    display: flex;
    height: 48px;
    align-items: center;
    font-size: 15px;
    padding: 0 18px;
    min-width: 189px;
    background: #fff;
    color: #009dda;
    cursor: pointer;
}
.dw_nav_item .dw_nav_list .dw_nav_child.gray_ft{
  color: #999;
  cursor: no-drop;
}
.dw_nav_item .dw_nav_list .dw_nav_child:hover, .dw_nav_item .dw_nav_list .dw_nav_selected{
    background-color: #efefef;
    color: #1C3249;
}
/*#F5F5F5*/
.dw_nav_item .dw_nav_list{
    position: absolute;
    background: #fff;
    width: 188px;
    left: -16px;
    display: none;
    z-index: 1;
}
.dw_nav_item:hover .dw_nav_list{
    display: block;
    box-shadow: 0px 0px 9px rgba(21, 43, 66, 0.0784313725490196);
    border: 1px solid #eee;
}
.vote_brief .view_brief_detail{
    height: 66px;
    font-size: 17px;
}
.vote_brief .brief_items_ct .brief_item{
    padding-top: 38px;
}
.vote_brief .brief_item_title{
    font-size: 17px;
}
.vote_brief .brief_item_content{
    font-size: 30px;
}
.vote_brief .brief_item_content{
    padding-top: 29px;
    padding-bottom: 32px;
}
.process_bar_ct{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0);
    font-size: 22px;
}
.process_bar{
    height: 10px;
    background: #F5F5F5;
    border-radius: 20px;
    position: relative;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    /*left: 50px;
    right: 70px;*/
}
.process_bar_inner{
    /*position: absolute;*/
    /*left: 0px;*/
    /*top: 0px;*/
    position: absolute;
    left: 0px;
    top: 0px;
    /*right: 0px;*/
    height: 100%;
    width: 100px;
    background-color: #408EE1;
    border-radius: 20px;
}
.process_bar_tag{
    background-color: #408EE1;
    height: 24px;
    padding: 0px 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 4px;
    top: -32px;
    right: -23px;
    font-size: 14px;
    white-space: nowrap;
}
.process_bar_tag_arrow{
    background-color: #408EE1;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    margin-left: -5px;
    bottom: -5px;
    transform: rotate(-45deg);
}
.process_bar_txt{
    /*position: absolute;*/
    /*left: 12px;*/
}
.process_bar_txt_max{
    /*left: auto;*/
    /*right: 12px;*/
}
.view_foot_more{
  padding: 34px 0px;
}
.brief_items_ct{
    background: #fff;
    border: 0px solid #E8E8E8;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
}
.brief_items_ct .brief_item{
    border: 0px;
    border: 0px;
    flex: none;
    width: 25%;
    margin-right: 0px;
    padding-top: 9px;
}
.brief_items_ct .brief_item_33{
    width: 33%;
}
.brief_items_ct .brief_item_50{
    width: 50%;
}
.brief_items_ct .brief_item_100{
    width: 100%;
}
.brief_item_title{
    font-size: 14px;
    color: #8E8E8E;
}
.brief_item_content{
    font-size: 22px;
    padding: 15px 0px 39px 0px;
    color: #243F5B;
    font-family:DINAlternate-Bold;
    font-weight: 300;
}
.brief_item_content a{
    color: #243F5B;
}
.analytics_brief{
    background: #fff;
    display: flex;
    padding-top: 4px;
}
.analytics_brief_ct{
    background: #fff;
    border: 1px solid #E8E8E8;
    margin-top: 29px;
}
.brief_title{
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    display: flex;
    padding: 25px 24px;
}
.brief_title .icon{
    margin-right: 14px;
}
.brief_item_title .question_icon{
    margin-left: 6px;
    cursor: pointer;
}
.brief_item .process_bar_ct{
    height: 18px;
}

/*dialog_start*/
.web_wallet_close{
    top: 17px;
    cursor: pointer;
}
.dialog_mask{
    position: fixed;
    background-color: rgba(51,51,51,.5);
    z-index: 21;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.dialog{
    width: 428px;
    height: auto;
    box-sizing: border-box;
    border: 0px solid #333333b5;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -214px;
    top: 100px;
    box-shadow: 0 1px 25px rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
.dialog_title{
    font-size: 16px;
    line-height: 1;
    padding: 20px 20px;
    color: #333;
    border-bottom: 1px solid #eee;
}
.dialog_content_ct{
    margin: 10px;
    margin-top: 0px;
    font-size: 14px;
    line-height: 26px;
    padding: 10px;
}
.dialog_item{
    padding: 10px 0px;
    color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dialog_item .dialog_item_title{
  white-space: nowrap;
  margin-right: 20px;
}
.dialog_confirm{
    background: #0070e0;
    margin: 10px;
    text-align: center;
    color: #fff;
    line-height: 1;
    padding: 13px;
    border-radius: 3px;
    cursor: pointer;
}
.dialog_confirm:hover{
    background: #0060e0;
}
.error_msg{
    color: #e01a00;
    text-align: center;
}
.subloading{
    height: 14px;
}
.ipt{
    padding: 6px 10px;
    margin-right: 4px;
    border: 1px solid #9a9999;
    box-shadow: 0px 0px 2px #eee;
    width: 100px;
    border-radius: 3px;
}
.max_ipt{
    width: 260px;
}
.item_info_txt{
    font-size: 12px;
    color: #868383;
}
.dialog_mask .hide{
    display: none;
}
.ico{
    background-image: url('../../assets/image/web/favicon.ico');
}
/*dialog_end*/
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg)
  }
  /*50% {-webkit-transform: rotate(180deg); }*/
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  0% {
    -ms-transform: rotate(0deg);    
  }
  /*50% {-ms-transform: rotate(180deg); }*/
  100% {
    -ms-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  /*50% {transform: rotate(180) }*/
  100% {
    transform: rotate(360deg)
  }
}
@-webkit-keyframes down_nav {
  0% {
    opacity: 0;
    top: -600px;
    bottom: 748px;
  }
  100% {
    opacity: 0.4;
    top: 0px;
    bottom: 148px;
  }
}
@-ms-keyframes down_nav {
  0% {
    opacity: 0;
    top: -600px;
    bottom: 748px;
  }
  100% {
    opacity: 0.4;
    top: 0px;
    bottom: 148px;
  }
}
@keyframes down_nav {
  0% {
    opacity: 0;
    top: -600px;
    bottom: 748px;
  }
  100% {
    opacity: 0.4;
    top: 0px;
    bottom: 148px;
  }
}

.select_item_ct{
  position: relative;
}
.select_item_ct:hover{
  z-index: 1;
}
.select_item{
  font-size: 14px;
  color: #3E3F42;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.select_text{
  font-size: 14px;
  margin-right: 0px;
}
.select_options{
  position: relative;
  height: 38px;
  border: 1px solid #D8DCE6;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 18px;
  padding-right: 30px;
  min-width: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  font-weight: 400;
  white-space: nowrap;  
}
.multi_ct .select_options{
  height: auto;
  min-height: 38px;
  flex-wrap: wrap;
  padding-top: 4px;
}
.select_drop_arrow{
  display: inline-block;
  background-image: url('../../assets/image/web/select_drop_arrow.svg');
  width: 11px;
  height: 7px;
  position: absolute;
  right: 12px;
}
.select_list{
  position: absolute;
  min-width: 100%;
  top: 36px;
  background: #fff;
  border: 1px solid #D8DCE6;
  left: -1px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  box-sizing: content-box;
}
.s_item{
  height: 38px;
  display: flex;
  align-items: center;
  padding-left: 18px;
  padding-right: 38px;
  white-space: nowrap;
  position: relative;
  justify-content: space-between;
}
.s_item:hover{
  background: #eee;
  cursor: pointer;
}
.s_item .selected_mark{
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: #1284e7;
  position: absolute;
  right: 20px;
}
.disabled_select{
  background-color: #eee
}
.z_index_1{
  z-index: 1;
}
.multi_tag{
  background-color: #eaedf3;
  padding: 1px 7px;
  border-radius: 40px;
  font-size: 12px;
  margin-right: 10px;
  color: #333333c4;
  position: relative;
  padding-right: 33px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 2px #7b8187;

  margin-bottom: 4px;
}
.multi_tag .close_icon{
  position: absolute;
  width: 10px;
  height: 10px;
  top: auto;
  z-index: 0;
}
.disabled_select .multi_tag{
  padding-right: 20px;
}
.disabled_select .multi_tag .close_icon{
  display: none;
}
.pane_load_more{
  margin-top: 10px;
  height: 40px;
  margin-bottom: 20px;
  min-width: 100px;
}
.avatar{
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  margin-right: 8px;
}
.text_val{

}
.mobile_number{
  margin-left: 10px;
  color: #1a69de;
  font-size: 12px;
}
.list_pane{
  max-height: 400px;
  overflow-y: scroll;
}
.pane_no_data{
  padding: 0px;
  line-height: 30px;
  padding-bottom: 10px;
}