*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #762822;
}
.style_load_img{
  height: 0px;
  width: 0px;
  overflow: hidden;
  background-image: url('../image/web/turn_table/turn_table_top_header_nav.jpg'), 
                    url('../image/web/turn_table/turn_table_header.jpg'),
                    url('../image/web/turn_table/turn_table_share_2019_2_26.png'),
                    url('../image/web/turn_table/turn_table_core.png'),
                    url('../image/web/turn_table/turn_table_foot.png'),
                    url('../image/web/turn_table/turn_table_pane.png');
}
.turn_table_header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.turn_table_header_top_nav{
  background-image: url('../image/web/turn_table/turn_table_top_header_nav.jpg');
  background-size: 60px 75px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}
.turn_table_header_main{
  background-image: url('../image/web/turn_table/turn_table_header.jpg');
  height: 170px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.share_hide{
  background-image: url('../image/web/turn_table/turn_table_share_2019_2_26.png');
}
.turn_table{
  width: 320px;
  height: 320px;
  background-image: url('../image/web/turn_table/turn_table_pane.png');
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
}
.turn_table_core{
  width: 84px;
  height: 84px;
  background-image: url('../image/web/turn_table/turn_table_core.png');
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -42px;
  top: 50%;
  margin-top: -42px;
  background-size: 84px 107px;
  background-position: 0px -23px;
}
.turn_table_core_arrow{
  background-image: url('../image/web/turn_table/turn_table_core.png');
  background-size: 84px 107px;
  width: 28px;
  height: 32px;
  background-position: -28px -1px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: -22px;
}
.game_des_header{
  background-image: url('../image/web/turn_table/turn_table_foot.png');
  background-size: 375px 9px;
  height: 9px;
  background-color: #5f1b18;
  margin-bottom: 31px;
}
.game_des{
  background-repeat-y: no-repeat;
  background-color: rgba(95, 27, 24, 1);
  padding-bottom: 86px;
}


