<style type="text/css">
.mobile_nav .mobile_nav_actions a.blue_ft{
    color: blue;
}
</style>
<template>
    <div class="mobile_ct">
        <div class="mobile_nav_action" @click="show"></div>
        <div class="mobile_nav" v-if="is_show">
            <div class="mobile_nav_content_ct">
                <div class="close_nav" @click="hide"></div>
                <ul class="mobile_nav_items">
                    <!-- <li v-for="item in params">
                        <a  v-bind:class="{'nav_focus': item.is_select}" v-bind:href="get_url(item.router_name)">{{ item.name }}</a>
                        <router-link :to="{name: item.router_name}" v-bind:class="{'nav_focus': item.is_select}">{{ item.name }}</router-link>
                        <span class="nav_arrow_icon"></span>
                    </li> -->
                    <li v-for="item in get_nav_data()">
                        <a href="https://www.eosforce.io/" v-bind:href="item.url">{{ item.name }}</a>
                        <span class="nav_arrow_icon"></span>
                    </li>
                </ul>
                <div class="mobile_nav_actions">

                    <a v-for="item in langs" v-bind:class="{'blue_ft': item.selected}"  target="_blank" @click="exchange(item)">{{ item.text }}</a>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { lang, set_lang } from '../../data/lang.js'
export default {
    data () {
        return {
            is_show: false,
            lang: lang.data,
            langs: lang.langs,
            exchange_lang: lang.exchange_lang,
        }
    },
    props: {
        params : {
            type: Array,
            default () {
                return [];
            }
        },
        exchang_lang : {
            type: Object,
            default () {
                return {};
            }
        }
    },
    watch: {
        '$route.name' () {
            this.hide();
        },
        'is_show' () {
            this.exchange_top_nav_index();
        }
    },
    methods: {
        change_lang () {
            this.$emit('exchange_lang');
        },
        hide () {
            this.is_show = false;
        },
        show () {
            this.is_show = true;
        },
        get_nav_data () {
            return [
                {
                    'url': 'https://eosforce.io//?lang=' + lang.now_lang.key,
                    'name': this.lang.portal
                },
                {
                    'url': 'https://explorer.eosforce.io/#' + lang.now_lang.key,
                    'name': this.lang.explorer
                },
                {
                    'url': 'https://bbs.eosforce.io/',
                    'name': this.lang.community
                }
            ];
        },
        exchange_top_nav_index () {
            let nav = document.getElementsByClassName('header_nav')[0];
            this.is_show ? nav.className = 'header_nav top_index' : nav.className = 'header_nav';
        },
        exchange (item) {
            let key = item.key;
            let new_url = window.location.href.replace(`#/${lang.now_lang.key}`, `#/${key}`);
            window.location.href = new_url;
            set_lang(this.exchange_lang.key, () => {
                window.location.reload(true);
            });
        },
        get_url(router_name){
            console.log(router_name);
            console.log(this.$router);
            console.log(this.$route);
            console.log( this.$router.options.routes[0].children );
        }
    }
}
</script>