<style type="text/css">
.mobile_nav .mobile_nav_actions a.blue_ft{
    color: blue;
}
</style>
<template>
    <div class="mobile_ct">
        <div class="mobile_nav_action" @click="show"></div>
        <div class="mobile_nav" v-if="is_show">
            <div class="mobile_nav_content_ct">
                <div class="close_nav" @click="hide"></div>

                <ul class="mobile_nav_items">
                    <template v-for="item in params" >
                        <li v-if="Array.isArray(item)" v-for="cate in item">
                            <router-link :to="{name: cate.router_name}" v-bind:class="{'nav_focus': cate.is_select}">{{ cate.name }}</router-link>
                            <span class="nav_arrow_icon"></span>
                        </li>
                        <li v-if="!Array.isArray(item)">
                            <router-link :to="{name: item.router_name}" v-bind:class="{'nav_focus': item.is_select}">{{ item.name }}</router-link>
                            <span class="nav_arrow_icon"></span>
                        </li>
                    </template>

                    <!-- <li>
                        <a href="https://www.eosforce.io/" v-bind:href="get_portal_href()">{{ lang.portal }}</a>
                        <span class="nav_arrow_icon"></span>
                    </li> -->
                </ul>

                <!-- <div class="mobile_nav_actions">
                    <a v-for="item in langs" v-bind:class="{'blue_ft': item.selected}"  target="_blank" @click="exchange(item)">{{ item.text }}</a>
                </div> -->

            </div>
        </div>
    </div>
</template>
<script>
import { lang, set_lang } from '../../data/lang.js'

export default {
    data () {
        return {
            is_show: false,
            lang: lang.data,
            langs: lang.langs,
            exchange_lang: lang.exchange_lang,
        }
    },
    props: {
        params : {
            type: Array,
            default () {
                return [];
            }
        },
        exchang_lang : {
            type: Object,
            default () {
                return {};
            }
        }
    },
    watch: {
        '$route.name' () {
            this.hide();
        },
        'is_show' () {
            this.exchange_top_nav_index();
        }
    },
    methods: {
        change_lang () {
            this.$emit('exchange_lang');
        },
        hide () {
            this.is_show = false;
        },
        show () {
            this.is_show = true;
        },
        get_portal_href () {
            return 'https://eosforce.io//?lang=' + lang.now_lang.key;
        },
        exchange_top_nav_index () {
            let nav = document.getElementsByClassName('header_nav')[0];
            this.is_show ? nav.className = 'header_nav top_index' : nav.className = 'header_nav';
        },
        exchange (item) {
            let key = item.key;
            let new_url = window.location.href.replace(`#/${lang.now_lang.key}`, `#/${key}`);
            window.location.href = new_url;
            set_lang(this.exchange_lang.key, () => {
                window.location.reload(true);
            });
        }
    }
}
</script>