<style>
</style>
<template>
    <div>
        <div class="base_table">
            <div class="tb_title">
                <span>{{ lang.account }}</span>
            </div>
            <div class="table_config" v-if="!brief">
                <div class="fakeloader">
                    <div class="fl spinner4"></div>
                </div>
            </div>
            <div class="detail_tb_ct">
                <table class="base_tb_ct" v-if="brief">
                    <tr class="">
                        <td class="w_200">
                            <div>
                                {{ lang.account_info }}
                            </div>
                        </td>
                        <td>
                            <div>
                                
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="w_200">
                            <div>
                                {{ lang.account_name }}:
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ brief.name }}
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="w_200">
                            <div>
                                {{ lang.avalable }}:
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ symblo_change(brief.available, 'BAS', 'BAS') }}
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="w_200">
                            <div>
                                {{ lang.fix_vote_total }}:
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ symblo_change(brief.staked || 0, 'BAS', 'BAS') }}
                            </div>
                        </td>
                    </tr>

                    <tr class="">
                        <td class="w_200">
                            <div>
                                {{ lang.fixed_vote_total }}:
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ symblo_change(brief.fixed_total || 0, 'BAS', 'BAS') }}
                            </div>
                        </td>
                    </tr>

                    <tr class="">
                        <td class="w_200">
                            <div>
                                {{ lang.total_back_amount }}：
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ symblo_change(brief.unstaking || 0, 'BAS', 'BAS') }}
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="w_200">
                            <div>
                                {{ lang.create_time }}:
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ brief && brief.created ? time_plus_hours(brief.created) : detail && detail.created ? time_plus_hours(brief.created) : 'T' }} 
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="w_200">
                            <div>
                                {{ lang.creator }}:
                            </div>
                        </td>
                        <td>
                            <div>
                                <router-link class="blue_ft" :to="{name: 'account_detail_view', params: {account_name: brief && brief.creator}}">{{ brief && brief.creator }}</router-link>
                            </div>
                        </td>
                    </tr>
                    <!-- <tr class="" v-if="detail">
                        <td>
                            <div>
                                {{ lang.update_time }}:
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ detail.last_code_update ? time_plus_hours(detail.last_code_update) : 'T' }} 
                            </div>
                        </td>
                    </tr> -->
                </table>
                <br/>
            </div>
        </div>
        <!-- block origin data -->
        <br/>
        <div class="base_table">
            <div class="tb_title tb_title_gray">
                <span>{{ lang.block_origin_data }}</span>
            </div>
            <div class="table_config" v-if="on_load">
                <div class="fakeloader">
                    <div class="fl spinner4"></div>
                </div>
            </div>
            <div  v-if="detail && !on_load">
                <pre class="code_ct" v-html="json_html_style(detail)"></pre>
            </div>
        </div>
        <br/>
        <div class="base_table">
            <div class="tb_title tb_title_gray tb_title_white">
                <span>{{ lang.transaction }}</span>
            </div>
            <account_transaction_table></account_transaction_table>
        </div>
    </div>
</template>
<script>
import {
    get_account_detail,
    get_account_transactions,
    get_account_all_info,
    get_account_info
} from '../../service/eos_service.js'
import  account_transaction_table from './account_transaction_table.vue'
import {
    json_html_style,
    time_plus_hours,
    symblo_change
} from '../utils/utils.js'
import { lang } from '../../data/lang.js'
import load_fns from '../common/load_fns.js'
export default {
    data () {
        return {
            on_load: true,
            load_timestamp: new Date().getTime(),
            account_name: 'chen123',
            detail: null,
            brief: null,
            lang: lang.data
        }
    },
    mounted(){
        this.get_account_detail();
    },
    watch: {
        '$route.params.account_name' () {
            this.reset();
            this.get_account_detail();
        }
    },
    components: {
        account_transaction_table
    },
    methods: {
        reset () {
            this.brief = null;
            this.detail = null;
        },
        async get_account_detail () {
            this.account_name = this.$route.params.account_name;
            let post_time = this.start_load(true);
            this.brief = await get_account_info(this.account_name);
            if(!this.brief.origin_data){
                this.detail = await get_account_detail(this.account_name);
            }else{
                this.detail = JSON.parse(this.brief.origin_data);
            }
            this.finish_load();
        },
        json_html_style,
        symblo_change,
        ...load_fns
    }
}
</script>