<template>
    <div class="">
        <div class="no_data" v-if="!on_load && !show_data.length">
            当前无数据
        </div>
        <div class="table_config" v-if="(on_load && !this.show_data.length && is_auto_load) || (!is_auto_load && on_load)">
            <div class="fakeloader">
                <div class="fl spinner4"></div>
            </div>
        </div>
        <div class="tb_ct">
            <table class="base_tb_ct"  v-if="(!on_load && this.show_data.length) || (is_auto_load && on_load && this.show_data.length)">
                <thead>
                    <tr>
                        <th>
                            {{ lang.account_name }}
                        </th>
                        <th>
                            {{ lang.create_time }}
                        </th>
                    </tr>
                </thead>
                <tr v-for="item, index in show_data" v-bind:class="{'': index%2}">
                    <td width="30%">
                        <div class="td_more_show">
                            <router-link class="blue_ft" :to="{name: 'account_detail_view', params: {account_name: item.name}}">{{ item.name }}</router-link>
                        </div>
                    </td>
                    <td>
                    {{ 
                        item.created ? time_plus_hours(item.created) : 'T' 
                    }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="tb_footer_ct" v-if="this.show_data.length">
            <div class="tb_page_actions">
                <a class="tb_page_item page_icon_left page_leftend_icon" v-if="this.page_index != 1" @click="get_data(1)"></a>
                <a class="tb_page_item page_icon_left" v-if="this.page_index != 1" @click="pre()"></a>
                <a 
                class="tb_page_item"
                v-for="item, index in page_list" 
                v-bind:class="{'tb_page_focus': item == page_index}"
                @click="get_data(item)"
                >
                {{item}}
                </a>
                <a class="tb_page_item page_icon page_icon_right" @click="next()"></a>
            </div>
        </div>
    </div>
</template>
<script>
import table_nav from '../common/table_nav.vue'
import {
    get_accounts
} from '../../service/eos_service.js'
import { log, time_plus_hours, is_mobile } from '../utils/utils.js'
import { lang } from '../../data/lang.js'
import store from '../../data/store.js'
import load_fns from '../common/load_fns.js'
export default {
    data () {
        return {
            on_load: false,
            is_auto_load: false,
            has_more: true,
            load_timestamp: new Date().getTime(),
            page_index: 1,
            page_num: 1,
            page_items_num: 10,
            show_data: [],
            page_list: [],
            lang: lang.data
        }
    },
    components:{
        table_nav
    },
    computed: {
        is_mobile () {
            return store.state.global_config.is_mobile;
        }
    },
    mounted () {
        this.init();
        this.get_data(null, true);
        this.create_page_list();
    },
    destroyed () {
        this.reset();
    },
    watch: {
        'page_index' () {
            this.create_page_list();
        },
        'page_num' () {
            this.create_page_list();  
        }
    },
    methods: {
        init () {
            this.page_index = 1;
        },
        reset () {
            this.page_index = 0;
        },
        get_data(page_index, is_auto){
            this.page_index = !page_index ? this.page_index : page_index;
            if(!this.page_index) return ;
            this.is_auto_load = is_auto;
            let post_time = this.start_load( is_auto );
            get_accounts(this.page_index, this.page_items_num)
            .then((res) => {
                if(!this.diff_data_timestamp(post_time)) return ;
                if(!res){
                    this.finish_load();
                    this.auto_update();
                    return ;
                }
                this.page_num = res.data.total_page_num;
                this.show_data.splice(0, this.show_data.length, ...res.data.items)
                this.finish_load();
                this.auto_update();
            });
        },
        ...load_fns
    }
}
</script>



