<style type="text/css">
.ft_32{
    font-size: 32px;
}
.transfer_action{
    margin-left: 10px;
    cursor: pointer;
}
.available_title{
    margin-right: 10px;
}
.error_info{
  color: #ef0909cf;
  margin-top: 10px;
  background: #f3f3f3;
  padding: 10px;
}
.available_profile{
  display: flex;
  align-items: center;
}
</style>
<template>
    <div>
        <template v-if="has_scatter && available.is_error">
            <div>
                <a href="javascript:;" @click="call_scatter(true)" class="blue_ft">{{ lang.call_scatter }}</a>
                <div v-if="scatter_error_info" class="error_info">
                    {{ scatter_error_info }}
                </div>
            </div>
        </template>
        <template v-if="has_scatter && !available.is_error">
            <div class="available_profile">
                <span class="available_title">{{ lang.account }}:</span> <span class="">{{ account_name }}</span>
                <span class="blue_ft transfer_action"  @click="call_scatter(true)">{{ lang.exchange_account }}</span> &nbsp;&nbsp;&nbsp;<span v-if="account_info.permissions">|</span>
                <span class="blue_ft transfer_action"  @click="start_action('transfer_account')" v-if="account_info.permissions">{{ lang.transfer_account }}</span>
            </div>
            <br/>
            <div>
                <span class="available_title">{{ lang.available }}:</span> <span class=" ft_32">{{ amount }}</span>
                <span class="blue_ft transfer_action"  @click="start_action('transfer')">{{ lang.transfer }}</span>
            </div>
            <box v-if="box_action_data"  v-bind:params="box_action_data" v-on:hide="clear_action" v-on:confirm="confirm"></box>
        </template>
    </div>
</template>
<script>
import { 
    log, 
    time_plus_hours, 
    is_mobile, 
    split_long_num,
    calcApr,
    calcVoteage,
    calcReward,
    toAsset,
    formatNumber,
    wait_time
} from '../utils/utils.js'
import {
    create_transfer_form,
    create_transfer_account
} from './action_form.js'
import {
    get_available,
    transfer,
    transfer_account,
    get_scatter_identity,
    get_account
} from '../../service/web_wallet_service.js'
import { lang } from '../../data/lang.js'
import store from '../../data/store.js'
export default {
    data () {
        return {
            available: '',
            account_info: {},
            lang: lang.data,
            box_action_data: null,
            is_on_load: false,
            page_index: 0,
            scatter_error_info: '',
            account_name: '...'
        }
    },
    mounted() {
        this.init();
        if(this.has_scatter){
            this.get_available(true);
            this.get_account(this.account_name);
        }
    },
    destroyed() {
        this.reset();
    },
    components: {
        box: resolve => require(['../box/index.vue'], resolve)
    },
    computed: {
        // account_name () {
        //     if(!this.available || !this.available.data) return '...';
        //     return this.available.data.rows[0].name;
        // },
        amount () {
            if(!this.available || !this.available.data) return '...';
            return toAsset(this.available.data.rows[0].available, 'EOSC');
        },
        has_scatter () {
            return store.state.global_config.has_scatter;
        }
    },
    watch: {
        account_name (current, previous) {
            if(current && !previous){
                this.get_available(true);
            }
        },
        has_scatter (current, previous) {
            if(current && !previous){
                this.get_available(true);
            }
        }
    },
    methods: {
        init () {
            this.page_index = 1;
        },
        reset () {
            this.page_index = 0;
        },
        async get_account (_time = 0) {
          await wait_time(_time);
          let res = await get_account(this.account_name);
          this.account_info = res.data;
          this.account_name = res.data.account_name;
        },
        async get_available(is_circle) {
            if(!this.page_index) return ;
            if(this.is_on_load) return ;
            this.is_on_load = true;
            this.available = await get_available();
            if(this.available.is_error){
                this.scatter_error_info = this.available.msg.message;
            }
            this.is_on_load = false;
            if(!is_circle) return ;
            setTimeout(async () => {
                await this.get_available(is_circle);
            }, 3000);
        },
        async start_action (action_name) {
            let dict = {
              'transfer_account': create_transfer_account,
              'transfer': create_transfer_form
            }
            let action_map = {
                transfer: {
                    title: lang.data[action_name],
                    struct_action: dict[action_name]
                },
                transfer_account: {
                    title: lang.data[action_name],
                    struct_action: dict[action_name]
                }
            }
            this.box_action_data = {
                title: action_map[action_name].title,
                on_load: true
            }

            let _form = {};
            if( action_name == 'transfer' ){
              _form = action_map[action_name].struct_action( this.amount );
            }
            if( action_name == 'transfer_account' ){
              // alert(this.account_info.permissions[0].perm_name);
              // alert(this.account_info.permissions[0].required_auth.keys[0].key);
              _form = action_map[action_name].struct_action( 
                this.account_name,
                this.account_info.permissions[0].required_auth.keys[0].key,
                this.account_info.permissions[1].required_auth.keys[0].key
              ); 
            }
            let show_list = _form.show_list;
            this.box_action_data = {
                title: action_map[action_name].title,
                action_name,
                show_list,
                on_load: false,
                loadding_form: false,
                error_msg: ''
            }
        },
        clear_action () {
            this.box_action_data = null;
        },
        async confirm (params) {
            if(this.box_action_data.loadding_form){
                return ;
            }
            let action_map = {
                transfer,
                transfer_account
            }
            let args = params.show_list.get_params();
            if(args.is_error){
                this.box_action_data.error_msg = args.msg;
                return ;
            }
            this.box_action_data.loadding_form = true;
            let res = await action_map[params.action_name](...args);
            if(res.is_error){
                this.box_action_data.error_msg = res.msg;
                this.box_action_data.loadding_form = false;
                return ;
            }
            this.box_action_data = null;
            this.get_available();
            this.get_account(5);
        },
        toAsset (eos_num) {
            let val = toAsset(eos_num);
            val = val == '0.0000 EOS' ? 0 : val + 'C';
            return val;
        },
        async call_scatter (exchange_account = false) {
            let res = await get_scatter_identity(exchange_account);
            if(res.is_error){
                this.scatter_error_info = res.msg.message;
            }else{
                window.location.reload(1);    
            }
        }
    }
}
</script>