<style scoped="">
.info_box{
  background-color: #fff;
  position: fixed;
  top: 0px;
  min-height: 60px;
  width: 1000px;
  z-index: 111;
}
</style>
<template>
  <div>
    <!-- <div class="info_box">
      {{ JSON.stringify(action_params) }}
      {{ action_params.action_name }}
      {{ available }}
    </div> -->
    <Box v-bind:params="box_form_data" v-on:form_change="form_change" v-bind:show="show_box" v-on:hide="hide" v-on:confirm="confirm"></Box>
  </div>
</template>
<script>
import Box from '../box/index.vue'
import {
  create_vote_form,
  create_minus_vote_form,
  create_revote_form,
  create_fixed_vote_form,
  create_fixed_revote_form,
  create_minus_fixed_form
} from './action_form.js'
import {
  vote as vote_service,
  revote,
  vote_fix,
  revote_fix,
  outfixvote
} from '../../service/web_wallet_service.js'

import { lang } from '../../data/lang.js'
export default {
 
 data () {
  return {
    show_box: true,
    box_form_data: {
      title: lang.data['修改投票'],
      action_name: '...1',
      show_list: [],
      on_load: false,
      loadding_form: false,
      error_msg: ''
    },
    chooice_record: '',
    chooice_form: {
      '1_1': 'create_vote_form',
      '1_2': 'create_minus_vote_form',
      '1_3': 'create_revote_form',
      '2_1': 'create_fixed_vote_form',
      '2_2': 'create_minus_fixed_form',
      '2_3': 'create_fixed_revote_form'
    },
    fixed_time_dict: {
      'fvote.a': '90 ' + lang.data['天'],
      'fvote.b': '180 ' + lang.data['天'],
      'fvote.c': '360 ' + lang.data['天'],
      'fvote.d': '720 ' + lang.data['天']
    }
  }
 },

 props: {
  bp_list: {
    type: Array,
    default () {
      return [];
    },
  },
  action_data: {
    type: Object,
    default () {
      return {

      }
    }
  },
  available: {
    type: Object,
    default () {
      return {}
    }
  },
  account_name: {
    type: String,
    default () {
      return ''
    }
  },
  action_params: {
    type: Object,
    default () {
      return {

      }
    }
  }
 },

 watch: {
  'chooice_record' (val) {
    // alert('changed');
    let _key = this.chooice_form[ this.chooice_record ];
    this[_key]();
  }
 },

 mounted () {
  this.init_form();
 },

 computed: {
  bp_list_for_select () {
    let bp_list = [];
    this.bp_list.forEach(row => {
      let staked = row.staked ? parseInt(row.staked) : '0'
      staked = staked + ' EOSC';
      bp_list.push({
        text: row.name + ' ' + lang.data['已投'] + staked,
        value: row.name
      })
    });
    return bp_list;
  },
  bp_list_for_fixed () {
    let bp_list = [];
    this.bp_list.forEach(row => {
      let total_fixed_vote = row.total_fixed_vote + ' EOSC';
      bp_list.push({
        text: row.name + ' ' + lang.data['已投'] + ' ' + total_fixed_vote,
        value: row.name
      })
    });
    return bp_list;
  },
 },
 methods: {
  init_form () {
    this.create_vote_form();
  },
  create_vote_form () {
    let bp_item = this.bp_list.find(item => item.name == this.action_params.bpname)
    let available = this.available.data.rows[0].available;
    let params = create_vote_form(this.action_params.bpname, bp_item.staked, available);
    // this.check_chooice_form(params.show_list, 'vote').vote_category.hide = true;
    this.set_chooice_form(params.show_list);
    this.box_form_data.show_list.splice(0, this.box_form_data.show_list.length, ...params.show_list);
  },
  create_minus_vote_form () {
    let bp_item = this.bp_list.find(item => item.name == this.action_params.bpname)
    let available = this.available.data.rows[0].available;
    let params = create_minus_vote_form(this.action_params.bpname, bp_item.staked, available);
    this.set_chooice_form(params.show_list);
    this.box_form_data.show_list.splice(0, this.box_form_data.show_list.length, ...params.show_list);
  },
  create_revote_form () {
    let bp_item = this.bp_list.find(item => item.name == this.action_params.bpname)
    let available = this.available.data.rows[0].available;
    let params = create_revote_form(this.action_params.bpname, this.bp_list_for_select, bp_item.staked);
    this.set_chooice_form(params.show_list);
    this.box_form_data.show_list.splice(0, this.box_form_data.show_list.length, ...params.show_list);
  },
  create_fixed_vote_form () {
    let bp_item = this.bp_list.find(item => item.name == this.action_params.bpname)
    let available = this.available.data.rows[0].available;
    let params = create_fixed_vote_form(this.account_name, this.action_params.bpname, available, bp_item.unstaking, bp_item.staked);
    this.set_chooice_form(params.show_list);
    this.box_form_data.show_list.splice(0, this.box_form_data.show_list.length, ...params.show_list);
  },
  create_fixed_revote_form () {
    let bp_item = this.bp_list.find(item => item.name == this.action_params.bpname)
    let available = this.available.data.rows[0].available;

    let fixed_list = [];
    (bp_item.fixed_vote_list || []).forEach(row => {
      fixed_list.push({
        value: row.key,
        text: this.fixed_time_dict[row.fvote_typ] + ' ' + row.vote 
      })
    })
    // (voter, pre_bp_name, fixed_list, bp_list)
    let params = create_fixed_revote_form(this.account_name, this.action_params.bpname, fixed_list, this.bp_list_for_fixed);
    this.set_chooice_form(params.show_list);
    this.box_form_data.show_list.splice(0, this.box_form_data.show_list.length, ...params.show_list);
  },
  create_minus_fixed_form () {
    let bp_item = this.bp_list.find(item => item.name == this.action_params.bpname)
    let available = this.available.data.rows[0].available;

    let fixed_list = [];
    (bp_item.fixed_vote_list || []).forEach(row => {
      fixed_list.push({
        value: row.key,
        text: this.fixed_time_dict[row.fvote_typ] + ' ' + row.vote 
      })
    })
    // (voter, pre_bp_name, fixed_list, bp_list)
    let params = create_minus_fixed_form(this.account_name, this.action_params.bpname, fixed_list, this.bp_list_for_fixed);
    this.set_chooice_form(params.show_list);
    this.box_form_data.show_list.splice(0, this.box_form_data.show_list.length, ...params.show_list);
  },
  // create_revote_form
  check_chooice_form (show_list, action) {
    let args = {};
    args.vote_type = show_list.find(item => item.name == 'vote_type');
    args.vote_action = show_list.find(item => item.name == 'vote_action');
    args.vote_category = show_list.find(item => item.name == 'vote_category');
    return args;
  },
  set_chooice_form (show_list){
    let args = this.check_chooice_form(show_list);
    this.chooice_record = args.vote_type.value + '_' + args.vote_action.value;
  },
  check_chooice_record (show_list) {
    let args = this.check_chooice_form(show_list);
  },
  form_change (form_data) {
    this.set_chooice_form(form_data.show_list);
  },
  hide () {
    this.$emit('hide');
  },
  validate_form () {
    let res = {is_error: true},
        chooice_record = this.chooice_record;
    if(chooice_record == '1_1'){
      res = create_vote_form().show_list.get_params(this.box_form_data.show_list);
      console.log(res);
    }

    if(chooice_record == '1_2'){
      console.log(this.box_form_data.show_list);
      res = create_minus_vote_form().show_list.get_params(this.box_form_data.show_list);
    }

    if(chooice_record == '1_3'){
      res = create_revote_form().show_list.get_params(this.box_form_data.show_list);
    }

    if(chooice_record == '2_1'){
      res = create_fixed_vote_form().show_list.get_params(this.box_form_data.show_list);
    }

    if(chooice_record == '2_2'){
      res = create_minus_fixed_form().show_list.get_params(this.box_form_data.show_list);
    }

    if(chooice_record == '2_3'){
      res = create_fixed_revote_form().show_list.get_params(this.box_form_data.show_list);
    }
    if(res.is_error){
      this.box_form_data.error_msg = res.msg;
    }
    return res;
  },
  async confirm (form_data) {
    let res = this.validate_form();

    if(res.is_error) return ;

    let chooice_record = this.chooice_record;
    this.box_form_data.on_load = true;

    let result = {};
    if(chooice_record == '1_1'){    let result = await vote_service(...res).catch(error => {
        this.box_form_data.error_msg = 'error';
      });

    }

    if(chooice_record == '1_2'){
      result = await vote_service(...res).catch(error => {
        this.box_form_data.error_msg = 'error';
      });

    }

    if(chooice_record == '1_3'){
      result = await revote(...res).catch(error => {
        this.box_form_data.error_msg = 'error';
      });

    }

    if(chooice_record == '2_1'){
      result = await vote_fix(...res).catch(error => {
        this.box_form_data.error_msg = 'error';
      });

    }

    if(chooice_record == '2_2'){
      // outfixvote
      result = await outfixvote(...res).catch(error => {
        this.box_form_data.error_msg = 'error';
      });

    }

    if(chooice_record == '2_3'){

      result = await revote_fix(...res).catch(error => {
        this.box_form_data.error_msg = 'error';
      });

    }

    this.box_form_data.on_load = false;

    if(result.is_error){
        this.box_form_data.error_msg = result.msg;
        return ;
    }

    
    this.$emit('confirm');
  }
 },

 components: {
  Box
 }

}
</script>