<style>

</style>
<template>
<div class="blog_main">

    <Box v-bind:params="add_blog_config.params" v-if="add_blog_config.is_show_form" v-on:confirm="confirm_add_blog" v-on:hide="hide"></Box>
    <Box v-bind:params="edit_blog_config.params" v-if="edit_blog_config.is_show_form" v-on:confirm="confirm_edit_blog" v-on:hide="hide"></Box>
    <div class="blog_actions_ct">
        <a class="blog_action_btn" href="javascript:;" @click="start_publish_blog">发布</a>
    </div>
    <div class="blog_item_detail">
        <!-- blog_item -->
        <div class="blog_item" v-for="item in data">

            <div class="blog_item_brief_ct">
                <div class="blog_item_logo"></div>
                <div class="blog_item_brief">
                    <div class="blog_item_tag blog_brief_tag">{{ item.author }}</div>
                    <div class="blog_date blog_brief_tag">{{ time_plus_hours(item.publish_time) }}</div>
                </div>
            </div>

            <div class="blog_item_content_ct">
                <div class="blog_item_title">{{ item.title }}</div>
                <div class="blog_item_bg" v-bind:style="get_bg(item)"></div>
                <div class="blog_item_txt">
                    {{ item.brief }}
                </div>
            </div>

            <router-link :to="{name: 'eos_blog_item', params: {blog_id: item.id}}" class="read_more" target="_blank">【{{ lang.view_more }}】</router-link>

            <div class="page_action_tools">
                <a href="javascript:;" @click="start_edit_blog(item.id)">编辑</a>
                <span class="splice_line">|</span>
                <a href="">删除</a>
            </div>
        </div>
        <!-- blog_item -->
        <!--  -->
        <div class="end_actions_ct">
            <div class="no_data" v-if="no_more">{{ lang.no_more_data }}</div>
            <a class="blog_load_btn" v-if="!on_load && !no_more" @click="load_data(false)">{{ lang.view_more }}</a>
            <div class="base_load_ct blog_list_load_ct" v-if="on_load && !no_more">
                <div class="load_circle"></div>
            </div>
        </div>
        <!--  -->
    </div>
    <!-- blog_list_ct -->
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    

</div>
</template>
<script>
import {
    time_plus_hours
} from '../utils/utils.js'
import {
    get_blog_brief_list,
    add_blog,
    get_blog_item
} from '../../service/eos_service.js'
import { lang, set_lang } from '../../data/lang.js'
import {
    create_blog_from
} from './blog_form.js'
import Box from '../box/index.vue'
export default {
    data () {
        return {
            on_load: true,
            pre: 0,
            max_id: 0,
            lang: lang.data,
            no_more: false,
            data: [],
            add_blog_config: {
                is_show_form: false,
                params: {
                    title: '写博客',
                    on_load: false,
                    error_msg: '',
                    show_list: [
                        {

                        }
                    ]
                }
            },
            edit_blog_config: {
                is_show_form: false,
                params: {
                    title: '编辑博客',
                    on_load: false,
                    error_msg: '',
                    show_list: [
                        {

                        }
                    ]
                }
            }
        }
    },
    mounted () {
        this.load_data();
    },
    components: {
        Box
    },
    methods: {
        async load_data (get_max = false) {
            this.start_load();
            let data = await get_blog_brief_list({
                pre: get_max ? this.max_id : this.pre,
                get_max
            });
            this.finish_load();
            if(data.data.length){
                if(!get_max){
                    this.pre = data.data[data.data.length - 1].id;
                }
                this.max_id = data.data[0].id;
            }
            data.data.forEach(item => {
                let exist_item = this.data.find(d_item => d_item.id == item.id);
                if(get_max){
                    this.data.splice(0, 0, item);
                }else{
                    this.data.push( item );
                }
            });
            if(data.data.length < 10 && !get_max){
                this.no_more = true;
            }
        },
        get_bg (item) {
            let img_url = item.illustration || 'https://d2mxuefqeaa7sj.cloudfront.net/s_BE31BB04505E1254935FC2AB12141ACEDE86F0FCC06E5873724C6F8161F3723C_1536734078776_tumblr_omydkqJnpl1qmxteso1_1280.gif';
            return {
                backgroundImage: `url("${img_url}")`
            }
        },
        start_load () {
            this.on_load = true;
        },
        finish_load () {
            this.on_load = false;
        },
        // publish blog start
        start_publish_blog () {
            let _form = create_blog_from();
            _form.proxy.author = 'EOS FORCE';
            this.add_blog_config.params.show_list = _form.show_list;
            this.add_blog_config.is_show_form = true;
        },
        finish_publish_blog () {
            this.add_blog_config.is_show_form = false;
        },
        async confirm_add_blog (params) {
            let check_res = params.show_list.get_params(true);
            if(check_res.is_error){
                this.add_blog_config.params.error_msg = check_res.msg;
                return ;
            }
            check_res.publish_time = new Date();
            check_res.is_published = true;
            this.add_blog_config.params.on_load = true;
            let data = await add_blog(check_res);
            this.add_blog_config.params.on_load = false;
            this.finish_publish_blog();
            setTimeout(() => {
                this.load_data(true);
            }, 500);
        },
        // edit blog 
        async start_edit_blog (blog_id) {
            let _form = create_blog_from();
            _form.proxy.author = 'EOS FORCE';
            this.edit_blog_config.params.on_load = true;
            this.edit_blog_config.params.show_list = _form.show_list;
            this.edit_blog_config.is_show_form = true;
            let page_data = await get_blog_item({id: blog_id});
            this.edit_blog_config.params.on_load = false;
            for(let item in page_data.data){
                _form.proxy[item] = page_data.data[item];
            }
        },
        finish_edit_blog () {
            this.edit_blog_config.is_show_form = false;
        },
        async confirm_edit_blog (params) {
            let check_res = params.show_list.get_params(true);
            if(check_res.is_error){
                this.edit_blog_config.params.error_msg = check_res.msg;
                return ;
            }
            check_res.publish_time = new Date();
            check_res.is_published = true;
            this.edit_blog_config.params.on_load = true;
            let data = await add_blog(check_res);
            this.edit_blog_config.params.on_load = false;
            this.finish_edit_blog();
            let saved_item = this.data.find(d_item => d_item.id == data.data.id);
            Object.assign(saved_item, data.data);
        },
        hide () {
            this.edit_blog_config.is_show_form = false;
            this.add_blog_config.is_show_form = false;
        },
        time_plus_hours
    }
}
</script>