<template>
    <h3 class="sm_title">
        <span v-if="chanin_id">链ID :{{ chanin_id }}</span>
        <span v-if="!chanin_id" class="load_circle"></span>
    </h3>
</template>
<script>
import eos_service from '../service/eos_service.js'
export default {
    data () {
        return {
            on_load: false
        }
    },
    props: {
        chanin_id: {
            type: String,
            default () {
                return '';
            }
        }
    },
    methods: {}
}
</script>