<style>
.nav_item_h1{
  display: flex;
  padding-left: 0px;
}
.nav_item_h1 a{
  display: block;
  width: 206px;
  color: #fff;
}
.nav_item_h2{
  padding-left: 17px;
}
.nav_item_h2 a{
  display: block;
  color: #fff;
}
</style>
<template>
    <div class="main">
      <div class="left_nav">
        <h1>{{ const_inner_trans[lang_key]['title'] }}</h1>

        <div class="nav_content_ct">
          <!-- {{ lang_data }} -->
          <ul v-for="h1 in lang_data">

            <li class="nav_item nav_item_h1" v-bind:class="{'nav_item_select': route_params.h1_id == h1.id}">
              <span class="icon plus"  v-if="h1.is_close"  @click="toggle(0, h1)"></span>
              <span class="icon minus" v-if="!h1.is_close" @click="toggle(1, h1)"></span>
              <!-- <a href="">{{ h1.title }}</a> -->
              <router-link :to="{name: 'forceio', params:{h1_id: h1.id, h2_id: h1.list[0].id}}">{{ h1.title }}</router-link>
            </li>
            <li v-if="h1.list && !h1.is_close">
              <ul>
                <li class="nav_item nav_item_h2" v-bind:class="{'nav_item_select': route_params.h2_id == h2.id}" v-for="h2 in h1.list">
                  <a v-bind:href='get_href(lang_key, h1.id, h2.id)'></a>
                  <router-link :to="{name: 'forceio', params:{h1_id: h1.id, h2_id: h2.id}}" @click="check_id">{{h2.title}}</router-link>
                </li>
              </ul>
            </li>

          </ul>  
        </div>

      </div>

      <div class="content">
        <div v-for="item_1 in lang_data">

          <h2>{{ item_1.title }}</h2>

          <div v-for="item_2 in item_1.list">
            <h2 v-bind:id="lang_key + '_' + item_1.id + '_' + item_2.id">
              {{ item_2.title }} 
              <!-- {{ lang_key + '_' + item_1.id + '_' + item_2.id }} -->
            </h2>
            <div class="content_des">
              <!-- <a v-bind:name="get_name(lang_key, item_1.id, item_2.id)">{{ lang_key}} / {{ item_1.id }} / {{ item_2.id}}</a> -->
              <!-- {{ lang_key}} / {{ item_1.id }} / {{ item_2.id}} -->
              <p class="ph" v-for="p in item_2.list" v-html="p">
              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="content" v-if="lang_key == 'en'" style="display: none;">
        <div>
          <h2>EOSForce Introduction</h2>
          <div class="content_des">
            <p class="ph">
              EOSForce is committed to exploring a more open crypto economy infrastructure in practice. Through the continuous development of multi-chain architecture blockchain protocol, it meets the diversified consensus requirements of the crypto economy and promotes the application of blockchain technology in various fields.
            </p>
            <p class="ph">
              EOSForce.io, the most active parallel mainnet in EOSIO ecosystem, has been completed and launched, providing more user-friendly resource model, richer underlying support for developers and fairer governance mechanism for the community. The EOSForce.io mainnet asset can be activated by offline signing with the mapped EOSIO private key.
            </p>
          </div>
        </div>

        <div>
          <h2>What is EOSC? Is EOSC an airdrop token?</h2>
          <div class="content_des">
            <p class="ph">
              EOSC is the token of an EOS mainnet launched by EOSForce community. It represents the assets on the EOSForce main chain and can be used for voting rewards, block generating, transferring and trading on exchanges.
            </p>
            <p class="ph">
              EOSC is not an airdrop token. Users can activate the EOSC account assets by offline signing with the EOSIO private key mapped before June 3, 2018 Beijing time.
            </p>
          </div>
        </div>

        <div>
          <h2>The difference between EOSC and EOS</h2>
          <div class="content_des">
            <p class="ph">
              EOSC is the token of the EOS mainnet launched by EOSForce. EOS is the token of the EOS mainnet launched by EMLG. These two assets are different. Currently, AKdex.io Exchange has listed the EOS and EOSC trading pairs.
            </p>
          </div>
        </div>

        <div>
          <h2>Total amount of EOSC (Including the lock-up plan, and allocation of the rest part)</h2>
          <div class="content_des">
            <p class="ph">
              The initial circulation of EOSC is 1 billion, and 94.6 million EOSC are issued annually to reward 23 BPs. The BlockOne team will be awarded a prize of 100 million EOSC unlocked every 10 years. And it will continue to do so without interruption.
            </p>
            <p class="ph">
              According to the proposal of EOSForce mainnet unactivated genesis account lockup plan, on December 20, the unactivated EOSIO genesis account will be locked with 80% of EOSC tokens, and replaced for the same amount of lock tokens. The remaining 20% can be freely used. Token increased annually will be adjusted appropriately according to the existing total amount of EOSC tokens in the mainnet.
            </p>
            <p class="ph">
              At present, the number of EOSC locked is 672,390,243, and the remaining is 327,609,757.
            </p>
          </div>
        </div>

        <div>
          <h2>Difference between EOSForce mainnet and EMLG mainnet</h2>
          <div class="content_des">
            <p class="ph">
              There is more than one EOS mainnet. Currently, the EOS community has launched several mainnets. The mainnet launched by EOSForce community is called EOSForce mainnet and is parallel to the mainnet launched by EMLG.
            </p>
            <p class="ph">
              When debugging EOS software, we found many unstable factors and there are certain asset security risks. Since EOS itself is a set of open source software, the official does not guarantee security and reliability of the blockchain launched by EOS software. This requires dedicated team for targeted development and testing to maintain the entire blockchain. Therefore, our team carried out strict tests on each function of EOSIO, upgraded and optimized the official codes, prioritized the security and reliability of the whole blockchain, and officially launched the EOSForce mainnet on June 22, 2018.
            </p>
            <p class="ph">
              EOSForce mainnet added the innovation of voting rewards incentive mechanism, improved the decentralization of one-token-one-vote, charged transaction fees to prevent DDOS attack, optimized the community governance of 23 BPs and introduced the new resource models.
            </p>
          </div>
        </div>

        <div>
          <h2>Why does EOSForce mainnet change 1-token-30-votes to 1-token-1-vote?</h2>
          <div class="content_des">
            <p class="ph">
              1-token-30-votes will cause the block producers to form alliances and vote each other, which will seriously affect the decentralization of the blockchain. Such monopoly will bring great harm to the EOS community, while 1-token-1-vote of the EOSForce mainnet can effectively avoid this situation and prevent the mainnet from falling into the centralized governance of the Qatar alliance.
            </p>
            <p class="ph">
              Block One CEO Brendan Blumer also suggested that EOSIO changes to one-token-one-vote in a telegram group on January 2019.
            </p>
          </div>
        </div>

        <div>
          <h2> Is this EOSC EOSClassic?</h2>
          <div class="content_des">
            <p class="ph">
              The full name of EOSC is EOS COIN, which is short for the mainnet token of EOSForce, not EOSClassic.
            </p>
          </div>
        </div>

        <div>
          <h2> EOSForce accounts creating and transaction making</h2>
          <div class="content_des">
            <p class="ph">
              EOS Genesis users: using the following wallets by importing the EOS private key of mapping can get the EOSForce account.<br/>
              EOSForce official wallet (PC version) — EOSForce.io<br/>
              International well-known wallet - Scatter<br/>
              International well-known wallet - Math Wallet<br/>
              Famous wallet in EOS ecosystem – Awake Wallet<br/>
            </p>
          </div>
        </div>

        <div>
          <h2>EOS non-genesis users: can create an EOSForce account in the following wallet</h2>
          <div class="content_des">
            <p class="ph">
              EOSForce official wallet (PC version) — EOSForce.io<br/>
              International well-known wallet - Math Wallet<br/>
              Famous wallet in EOS ecosystem – Awake Wallet<br/>
            </p>
          </div>
        </div>

        <div>
          <h2>Which wallets support EOSC?</h2>
          <div class="content_des">
            <p class="ph">
              Tutorial for activating EOSC using Scatter wallet:
            </p>
            <div class="code">
              <a href="https://bbs.eosforce.io/?thread-329.htm">https://bbs.eosforce.io/?thread-329.htm</a>
            </div>
            <p class="ph">
              Scatter wallet download address: 
            </p>
            <div class="code">
              <a href="https://get-scatter.com/">https://get-scatter.com/</a>
            </div>
            <p class="ph">
              EOSForce Wallet tutorial:
            </p>
            <div class="code">
              <a href="https://mp.weixin.qq.com/s/jbRRAmhoCKgHlga2V7xsDw">https://mp.weixin.qq.com/s/jbRRAmhoCKgHlga2V7xsDw</a>
            </div>
            <p class="ph">
              EOSForce Wallet download address:
            </p>
            <div class="code">
              <a href="https://www.eosforce.io/">https://www.eosforce.io/</a>
            </div>
            <p class="ph">
              Math Wallet tutorial:
            </p>
            <div class="code">
              <a href="https://mp.weixin.qq.com/s/QV0gQYfWV6xVIXpmtxpDOg">https://mp.weixin.qq.com/s/QV0gQYfWV6xVIXpmtxpDOg</a>
            </div>
            <p class="ph">
              Math Wallet download address:
            </p>
            <div class="code">
              <a href="http://www.mathwallet.org">http://www.mathwallet.org</a>
            </div>
            <p class="ph">
              Awake Wallet tutorial:
            </p>
            <div class="code">
              <a href="https://mp.weixin.qq.com/s/VC4uwNO99Cttj3k_5lEOgg">https://mp.weixin.qq.com/s/VC4uwNO99Cttj3k_5lEOgg</a>
            </div>
            <p class="ph">
              Awake Wallet download address:
            </p>
            <div class="code">
              <a href="https://www.eosawake.io/">https://www.eosawake.io/</a>
            </div>
            <p class="ph">
              EOSOU Wallet download address:
            </p>
            <div class="code">
              <a href="https://bbs.eosforce.io/?thread-333.htm">https://bbs.eosforce.io/?thread-333.htm</a>
            </div>

          </div>
        </div>

        <div>
          <h2>Which exchanges support EOSC?</h2>
          <div class="content_des">
            <p class="ph">
              Centralized Exchange: Bitforex<a href="https://bitforex.com">https://bitforex.com</a>
            </p>
            <p class="ph">
              Decentralized Exchange: Akdex <a href="https://akdex.io/">https://akdex.io/</a> (Math wallet and Awake wallet have built-in Akdex Exchange)
            </p>
            <p class="ph">
              OTC Exchange: EOSOU Wallet <a href="https://bbs.eosforce.io/?thread-333.htm">https://bbs.eosforce.io/?thread-333.htm</a>
            </p>
          </div>
        </div>


        <div>
          <h2>About voting rewards sharing</h2>
          <div class="content_des">
            <p class="ph">
              How to get voting rewards?<a href="https://mp.weixin.qq.com/s/6fdXZNGc2_CgdPpWj5GHwA">https://mp.weixin.qq.com/s/6fdXZNGc2_CgdPpWj5GHwA</a>
            </p>
          </div>
        </div>

        <div>
          <h2>How do the coins of the voting rewards sharing come out?</h2>
          <div class="content_des">
            <p class="ph">
              The EOSForce mainnet generates one block every 3s, each block produces 3 EOSC, and it produces about 31.53 million EOSC every year. 70% of the total output goes into the nodes rewards pool based on the voting weights. The nodes distribute the rewards to users according to the rewards ratio they set and the users’ voting weight.
For example, the rewards ratio set by node mathwalletbp is 99.99%, which means that mathwalletbp pays 99.99% of its rewards pool to the users as voting rewards sharing, and the remaining 0.01% enters its node account.
            </p>
            <p class="ph">
              Voting annualized returns = (profitable node annual rewards *70% * Percentage of votes * dividend ratio) / number of total votes of the node * 100%
            </p>
          </div>
        </div>

        <div>
          <h2>How to participate in voting to obtain rewards and get votes redeemed?</h2>
          <div class="content_des">
            <p class="ph">
              Click "vote" on the right side of the tab of nodes to participate in voting and get rewards. Click "redemption" to modify and withdraw the votes.
            </p>
            <p class="ph">
              Each time you vote and redeem, you need to pay 0.05EOSC as a handling fee. There is a 3-days lock-up period for redemption, and shall be unlocked and claimed manually 3 days later.
            </p>
            <p class="ph">
              Click “Dividends to be claimed” on the tab of “My Votes” to receive rewards. Each time you claim the rewards, you need to pay a fee of 0.03 EOSC. A sufficient balance must be set aside as a handling charge before voting.
            </p>
          </div>
        </div>

        <div>
          <h2>How to become an EOSForce Block Producer?</h2>
          <div class="content_des">
            <p class="ph">
              EOSForce mainnet block producer deployment tutorial<br/>
              CN :  <a href="https://eosforce.github.io/Documentation/#/en/eosforce_bp">https://eosforce.github.io/Documentation/#/en/eosforce_bp</a>
              <br/>
              EN:  <a href="https://eosforce.github.io/Documentation/#/en-us/eosforce_bp">https://eosforce.github.io/Documentation/#/en-us/eosforce_bp</a>
              <br/>
            </p>
          </div>
        </div>

        <div>
          <h2>How many block producers in EOSForce community?</h2>
          <div class="content_des">
            <p class="ph">
              There are more than 100 nodes in EOSForce community, among which the top 23 nodes with votes generate blocks and are called block producers. A node that receives more than 0.5% of the total votes of the current network is a profitable node.
            </p>
          </div>
        </div>

        <div>
          <h2>The income source of the block producers?</h2>
          <div class="content_des">
            <p class="ph">
              The initial circulation of EOSC is 1 billion
              One block generated per 3s and 3 EOSC in one block.
              Daily rewards of profitable node = 3 * 20 * 60 * 24 = 86,400 EOSC
              Annual rewards of profitable node = BP daily rewards * 365 = 31,536,000 EOSC

              The reward distribution is as follows:
              The nodes whose votes obtained are more than 0.5% of the total votes of current network are profitable nodes. Among these profitable nodes, there are BPs and BP candidates. The first 23 are BPs and the rest are BP candidates.
              For the BPs, 15% of the income will be credited to its account as basic salary, and 15% of the income will be credited to its account as block-generating reward. And the remaining 70% of the income will go into its account and rewards pool according to the allocation proportion set by the node.
              For the BP candidates, 15% of the income will be credited to its account as basic salary, and 15% of the income will be credited to EOSForce Foundation account Devfund (This account belongs to the community and is used to support the developers. The transaction requires a multi-sign of more than two-thirds nodes) .The remaining 70% of the income will go into its account and rewards pool according to the allocation proportion set by the node.
            </p>
          </div>
        </div>

        <div>
          <h2>Is voting rewards the same for different nodes?</h2>
          <div class="content_des">
            <p class="ph">
              Vote for nodes with different annualized interest rates, the voting rewards will be different.
              Users can vote for different nodes according to the annual interest rate and the contribution made by the node.
            </p>
          </div>
        </div>

        <div>
          <h2>Lockup plan</h2>
          <div class="content_des">
            <p class="ph">
              Why is there less EOSC in the account than at the time of mapping?
According to the proposal of EOSForce mainnet unactivated genesis account locking plan, on December 20, the unactivated EOSIO genesis accounts are locked with 80% of EOSC tokens, and replaced for the same amount of lock tokens. The remaining 20% can be freely used.
            </p>
          </div>
        </div>

        <div>
          <h2>Why lock up 80% EOSC of the account?</h2>
          <div class="content_des">
            <p class="ph">
              Early builders of EOSForce community believe that a large number of unactivated EOSC are not conducive to the future development and construction of the EOSForce mainnet. If these unactivated EOSC are activated after the EOSForce mainnet matures, it is unfair to community builders who have invested time and effort early. In response to this topic, there was a long and repeated discussion in the community, and on November 29, 2018, voted by the block producers and finally approved by 20 votes, 2 votes against, 1 abstention, passed the lock-up proposal jointly proposed by Awake, jiqix, eosou.io and walianwang. On December 20, 2018, EOSForce officially executed the unactivated account EOSC token lock-up contract.
            </p>
          </div>
        </div>

        <div>
          <h2> Is it possible to unfreeze the locked EOSC in the future?</h2>
          <div class="content_des">
            <p class="ph">
              There is no suitable solution in the community for how to deal with locked EOSC currently. Members of the community can present their opinions and suggestions to the community and nodes.
            </p>
          </div>
        </div>

        <div>
          <h2>Are there any DAPP on EOSForce mainnet currently?</h2>
          <div class="content_des">
            <p class="ph">
              At present, there are Millionaire, Finger Guess, EOSForce Pixel, Super Card, Big Color Quiz, Smoke and Ashes and Waiting for you. It involves DAPP of public benefit, art, social and finance. In the future, we will develop more DAPPs and build a complete EOS ecological community.
            </p>
          </div>
        </div>

        <div>
          <h2>How can I participate in DAPP?</h2>
          <div class="content_des">
            <p class="ph">
              At present, you can participate in voting rewards sharing and various DAPP projects of the EOSForce mainnet via Math Wallet or Awake Wallet.
            </p>
          </div>
        </div>

        <div>
          <h2>The Difference of resource model between EOSFORCE and EOS EMLG</h2>
          <div class="content_des">
            <p class="ph">
              CPU and NET resources are allocated based on fees, and RAM resources are allocated based on leases
            </p>
          </div>
        </div>

        <div>
          <h2>Why does the transfer charge a fee? What resources are you paying for?</h2>
          <div class="content_des">
            <p class="ph">
              In EOSForce mainnet, each operation needs to consume certain network resources. Because the total network resources are limited, in order to allocate resources fairly and reasonably, and avoid excessive abuse, the EOSForce mainnet has innovatively established a set of model for allocating CPU and NET resources based on handling fee. Under this model, users need to pay a certain fee for each operation to obtain CPU and NET resources. For example, the following operations:
Transferring: 0.01EOSC <br/> 
User Creation: 0.1EOSC<br/>
Voting: 0.05EOSC <br/>
Redemption: 0.05EOSC<br/>
Memory renting: 0.05EOSC<br/>
Rewards Claiming: 0.03EOSC
            </p>
          </div>
        </div>

        <div>
          <h2>What is the RAM resources of EOSForce mainnet used for? How to obtain RAM resources of EOSForce mainnet? Can RAM resources be bought and sold?</h2>
          <div class="content_des">
            <p class="ph">
              RAM resources provide users and developers with a memory space for nodes to store data for contract’s reading and writing. The RAM resources in EOSForce mainnet can only be obtained by means of leasing. The upper limit of the RAM can be used by the account is set according to the rent paid by the account. It can only be rented and cannot be bought or sold. In order to facilitate the user's operation, the EOSForce mainnet set an 8kb rent-free quota for each account at this stage, so most ordinary users do not need to care about RAM. Usually, developers need to pay rent for the RAM used by their DApp, including the RAM occupied by the contract and the RAM data generated in the execution.
            </p>
          </div>
        </div>

        <div>
          <h2>What to do with the handling fee and RAM resources rent?</h2>
          <div class="content_des">
            <p class="ph">
              Handling fee: The handling fee currently incurred for each transaction will be destroyed.
Rent: EOSForce mainnet has implemented the function of paying rent for RAM resources by voting rewards. The user votes with a certain amount of EOSC to get the corresponding amount of RAM resources, and pays the rent of the RAM resources with the voting rewards. Currently 1KB RAM resources can be obtained by voting with 10EOSC. The rent will be returned to the rewards pool of the block producers in proportion to the dividend, and will finally return to the voting users.
            </p>
          </div>
        </div>
      </div>
      <div class="content" v-if="lang_key == 'cn'" style="display: none;">
        <div>
          <h2>关于EOSFORCE主网</h2>
          <div class="content_des">
            <p class="ph">
              EOSFORCE致力于在实践中探索更开放的加密经济基础设施。通过持续开发多链架构区块链协议，满足加密经济的多元化共识需求，推动区块链技术在各个领域的应用。
              目前已完成并上线EOSIO生态最活跃的平行主网EOSForce.io, 为用户提供更友好的资源模型，为开发者提供更丰富的区块链底层支持，为社区提供更公平的治理机制。用户可使用映射过的EOSIO私钥离线签名激活EOSForce.io主网资产。
            </p>
          </div>
        </div>

        <div>
          <h2>什么是EOSC？EOSC是空投吗？</h2>
          <div class="content_des">
            <p class="ph">
              EOSC是原⼒社区启动的EOS主⽹的代币名称，代表EOSForce主链上的资产，可⽤于投票分红，出块，转账，也可以⽤于交易所交易等操作。 
              EOSC不是空投，用户可使用北京时间2018年6月03日映射过的EOSIO私钥通过离线签名激活EOSC账户资产。
            </p>
          </div>
        </div>

        <div>
          <h2>EOSC和EOS有什么区别？</h2>
          <div class="content_des">
            <p class="ph">
              EOSC是原力启动的EOS主网的代币名称，EOS是EMLG启动的EOS主网的代币名称，这两种资产是不一样的，目前akdex.io交易所开通了EOS和EOSC的交易对。
            </p>
          </div>
        </div>

        <div>
          <h2>EOSC总量有多少？（答内涉及锁仓，及剩余分配情况）</h2>
          <div class="content_des">
            <p class="ph">
              EOSC初始发⾏量为 10 亿，为奖励23个节点，每年增发9460万个EOS COIN。 给 BlockOne 团队设置奖励每10年解锁约 1 亿 EOS，10年以后继续解锁，永不间断。<br/>
              据《EOSForce主网未激活创世账户的代币锁仓提案》，于12.20日将未激活的EOSIO创世账户的80%代币进行锁仓，等额置换为锁仓代币，剩余的20%可自由使用。每年增发的token也将依据主网现有EOSC总量进行适当调整。<br/>
              目前主网锁定EOSC的数量为672,390,243，剩余EOSC的总量为327,609,757<br/>
            </p>
          </div>
        </div>

        <div>
          <h2>EOSFORCE主网和EMLG主网有何区别？</h2>
          <div class="content_des">
            <p class="ph">
              EOS主⽹并不⽌⼀条，⽬前EOS社区启动了多条主⽹。由EOS原⼒社区启动的主⽹称为EOSFORCE主网，和由EMLG启动的主⽹是平⾏关系。 <br/>
              我们在调试EOS软件的时候，发现了很多不稳定的因素，存在⼀定的资产安全⻛险。由于EOS本身是⼀套开源软件，官⽅并不保证软件所启动的区块链的安全性和稳定性。需要有 ⼈能够针对性测试和开发，维护整条链的。所以我们团队针对EOSIO的每个功能进⾏严密测试，针对官⽅代码进⾏升级优化，优先保证整条链的安全和稳定性，并于2018年6⽉22⽇正式启动EOSFORCE主⽹。 
              新增了投票分红的激励创新，改进了一票一投的去中心化，收取交易手续费防DDOS，23个超级节点优化治理社区，引进新的资源模型等。<br/>
            </p>
          </div>
        </div>

        <div>
          <h2>EOSFORCE主网为何要将一票30投改为一票一投？</h2>
          <div class="content_des">
            <p class="ph">
              一票三十投会造成超级节点之间结盟进行相互投票，严重影响区块链网络的去中心化特性，这样的垄断给EOS社区带来了很大的伤害，而EOSFORCE主网的一票一投则有效地避免了这一情况的发生，可防止主网落入卡塔尔联盟的集中治理。
              Block One CEO Brendan Blumer 19年1月在电报群里也建议将EOSIO改为一票一投。
            </p>
          </div>
        </div>

        <div>
          <h2>这个EOSC是EOSClassic吗？</h2>
          <div class="content_des">
            <p class="ph">
              EOSC的全称是EOS COIN，是EOSForce主网代币的简写，不是EOSClassic。
            </p>
          </div>
        </div>

        <div>
          <h2>关于创建原力账户和进行交易</h2>
          <div class="content_des">
            <p class="ph">
              EOSC的全称是EOS COIN，是EOSForce主网代币的简写，不是EOSClassic。<br/>
              如何创建原力账户？<br/>
              1）EOS创世用户：在以下钱包导入映射时获得的EOS私钥，即可拥有原力账户。<br/>
              原力官方pc版钱包 — eosforce.io  
              国际知名钱包 — scatter 
              国际知名app钱包 — 麦子钱包
              eos生态知名app钱包 — awake
            </p>
          </div>
        </div>

        <div>
          <h2>EOS非创世用户：在以下钱包可以创建原力账户</h2>
          <div class="content_des">
            <p class="ph">
              原力官方pc版钱包 — eosforce.io  
              国际知名app钱包 — 麦子钱包
              eos生态知名app钱包 — awake
            </p>
          </div>
        </div>

        <div>
          <h2>哪些钱包支持EOSC？</h2>
          <div class="content_des">
            <p class="ph">
              scatter钱包激活教程：
            </p>
            <div class="code">
              <a href="https://bbs.eosforce.io/?thread-329.htm">https://bbs.eosforce.io/?thread-329.htm</a>
            </div>
            <p class="ph">
              scatter钱包下载地址： 
            </p>
            <div class="code">
              <a href="https://get-scatter.com/">https://get-scatter.com/</a>
            </div>
            <p class="ph">
              EOSForce钱包使用教程：
            </p>
            <div class="code">
              <a href="https://mp.weixin.qq.com/s/jbRRAmhoCKgHlga2V7xsDw">https://mp.weixin.qq.com/s/jbRRAmhoCKgHlga2V7xsDw</a>
            </div>
            <p class="ph">
              EOSForce钱包下载地址：
            </p>
            <div class="code">
              <a href="https://www.eosforce.io/">https://www.eosforce.io/</a>
            </div>
            <p class="ph">
              麦子钱包使用教程：
            </p>
            <div class="code">
              <a href="https://mp.weixin.qq.com/s/QV0gQYfWV6xVIXpmtxpDOg">https://mp.weixin.qq.com/s/QV0gQYfWV6xVIXpmtxpDOg</a>
            </div>
            <p class="ph">
              麦子钱包下载地址：
            </p>
            <div class="code">
              <a href="http://www.mathwallet.org">http://www.mathwallet.org</a>
            </div>
            <p class="ph">
              Awake钱包使用教程：
            </p>
            <div class="code">
              <a href="https://mp.weixin.qq.com/s/VC4uwNO99Cttj3k_5lEOgg">https://mp.weixin.qq.com/s/VC4uwNO99Cttj3k_5lEOgg</a>
            </div>
            <p class="ph">
              Awake钱包下载地址：
            </p>
            <div class="code">
              <a href="https://www.eosawake.io/">https://www.eosawake.io/</a>
            </div>
            <p class="ph">
              欧柚钱包下载地址：
            </p>
            <div class="code">
              <a href="https://bbs.eosforce.io/?thread-333.htm">https://bbs.eosforce.io/?thread-333.htm</a>
            </div>

          </div>
        </div>

        <div>
          <h2>哪些交易所支持EOSC？</h2>
          <div class="content_des">
            <p class="ph">
              中心化交易所：币夫 <a href="https://bitforex.com">https://bitforex.com</a>
            </p>
            <p class="ph">
              去中心化交易所：akdex <a href="https://akdex.io/">https://akdex.io/</a>（麦子钱包、awake钱包内嵌akdex交易所）
            </p>
            <p class="ph">
              OTC交易所：欧柚钱包 <a href="https://bbs.eosforce.io/?thread-333.htm">https://bbs.eosforce.io/?thread-333.htm</a>
            </p>
          </div>
        </div>


        <div>
          <h2>如何参与投票分红？</h2>
          <div class="content_des">
            <p class="ph">
              如何参与投票分红？ <a href="https://mp.weixin.qq.com/s/6fdXZNGc2_CgdPpWj5GHwA">https://mp.weixin.qq.com/s/6fdXZNGc2_CgdPpWj5GHwA</a>
            </p>
          </div>
        </div>

        <div>
          <h2>用户投票分红的Coin从何而来？</h2>
          <div class="content_des">
            <p class="ph">
              Eosforce主网每 3s 出一个块，每个块产出3个EOSC，每年产出约3153万的EOSC，产出总量的70%依据投票权重进入节点分红池，节点依据其设置的分红比例和用户的投票权重分红给用户。
例：mathwalletbp 节点设置的分红比例为99.99%，意为mathwalletbp将其分红池的99.99%作为给用户投票的分红回报，剩余的0.01%进入节点账户。
投票年化利率 = （收益节点每年奖励*70%*得票率*分红比例）/ 所投节点总得票数 * 100%
            </p>
          </div>
        </div>

        <div>
          <h2>如何参与投票领取分红及赎回投票？</h2>
          <div class="content_des">
            <p class="ph">
              点击节点一栏右侧 “开始投票” 即可参与投票获得分红，点击 "修改投票” 即可修改及撤回投票
            </p>
            <p class="ph">
              每次投票和赎回需0.05EOSC作为手续费，赎回有3天锁定期，3天后需手动解锁领回,点击我的投票一栏即可领取分红，每次领取分红需0.03EOSC的⼿续费，投票前要预留足够的余额作为手续费
            </p>
          </div>
        </div>

        <div>
          <h2>如何成为EOS原力超级节点？</h2>
          <div class="content_des">
            <p class="ph">
              EOSForce主网超级节点部署教程
              中文：https://eosforce.github.io/Documentation/#/zh-cn/eosforce_bp
              英文：https://eosforce.github.io/Documentation/#/en-us/eosforce_bp
            </p>
          </div>
        </div>

        <div>
          <h2>EOSForce有多少超级节点？</h2>
          <div class="content_des">
            <p class="ph">
              EOSForce有100多个节点，其中得票数前23名的节点产生区块并称之超级节点；得票数超过当前全网投票总数0.5%的节点称为收益节点。
            </p>
          </div>
        </div>

        <div>
          <h2>超级节点的收益来源？</h2>
          <div class="content_des">
            <p class="ph">
              链初始发行量为 10 亿 EOSC
              每 3s 一个块，每个块3个eosc
              收益节点每日奖励 = 3 * 20 * 60 * 24 = 86，400 EOSC
              收益节点每年奖励 = 超级节点每日奖励 * 365 = 31,536,000 EOSC
              这部分奖励分配如下：
              得票数前23名的超级节点，收益的15%作为基本工资进入其账户,收益的15%作为出块奖励进入其账户，剩余的70%根据节点设置的分红比例分别进入节点账户和分红池。
              得票数超过当前全网投票总数0.5%，但不是超级节点的节点，收益的15%作为基本工资进入其账户,收益的15%进入原力社区开发者委员会账户：devfund（该账户归属于社区，用于支持开发者发展，转账需要2/3及以上节点多签才能执行）剩余的70%根据节点设置的分红比例分别进入节点账户和分红池。
            </p>
          </div>
        </div>

        <div>
          <h2>投票给不同节点的收益一样吗？</h2>
          <div class="content_des">
            <p class="ph">
              投给不同年化利率的收益节点，收益就会不一样；
              用户可以根据年华利率，节点所做贡献给不同节点投票
            </p>
          </div>
        </div>

        <div>
          <h2>为什么我账户的EOSC会比映射时少？</h2>
          <div class="content_des">
            <p class="ph">
              据《EOSForce主网未激活创世账户的代币锁仓提案》截止12.20，将未激活的EOSIO创世账户的80%代币进行了锁仓，等额置换为锁仓代币，剩余的20%可自由使用。
            </p>
          </div>
        </div>

        <div>
          <h2>为何要将我账户的80%EOSC进行锁仓？</h2>
          <div class="content_des">
            <p class="ph">
              EOSForce主网社区的早期建设者们认为，大量未激活的EOSC不利于EOSForce主网未来的发展和建设。如果这些未激活的EOSC在EOSForce主网成熟后再激活，对早期投入了时间和精力的社区建设者们是一种不公平。针对这一话题，在社区内进行了长时间的反复讨论，最终于2018年11月29日，由超级节点投票表决，最终以20票赞同，2票反对，1票弃权通过了Awake、jiqix、eosou.io和walianwang联合提出的EOS原力主网未激活创世账号的代币锁仓计划并于2018年12月20日，正式执行未激活账户代币锁仓系统合约。
            </p>
          </div>
        </div>

        <div>
          <h2>未来是否有可能解冻已锁仓的EOSC？</h2>
          <div class="content_des">
            <p class="ph">
              对于如何处置已锁仓的EOSC，目前社区内尚未有合适的解决方案。社区内的成员可以向社区和节点提出自己的观点和建议。
            </p>
          </div>
        </div>

        <div>
          <h2>EOSFORCE主网目前有哪些DAPP？</h2>
          <div class="content_des">
            <p class="ph">
              目前有大富豪，FINGER GUESS，原力像素游戏，Super Card，花色大竞猜，强堵灰飞烟灭，Waiting For You等涉及公益，艺术，社交，金融的DAPP，未来我们会开发更多的DAPP，建设一个完整的EOS生态社区。
            </p>
          </div>
        </div>

        <div>
          <h2>去哪里可以参与DAPP？</h2>
          <div class="content_des">
            <p class="ph">
              目前麦子钱包和Awake钱包都可以参与EOS原力主网投票分红及各类基于EOS原力主网的DAPP项目。
            </p>
          </div>
        </div>

        <div>
          <h2>EOSFORCE主网的资源模型和EOS EMLG主网有何区别？</h2>
          <div class="content_des">
            <p class="ph">
              基于手续费分配cup和net资源，基于租赁分配RAM资源
            </p>
          </div>
        </div>

        <div>
          <h2>转账为什么需要手续费，是在为什么资源付费？</h2>
          <div class="content_des">
            <p class="ph">
              在EOSForce主网中，每一笔操作都需要消耗一定的网络资源。由于网络资源总量有限，为了资源分配公平合理，不会被无度滥用，EOSForce主网创新性地建立了一套基于手续费分配CPU和NET资源的模型。在该模型下，用户需要为每一笔操作支付一定的手续费，以获得CPU和NET资源。例如以下常规操作：
转账：0.01EOSC     创建用户：0.1EOSC
投票：0.05EOSC     赎回投票：0.05EOSC  
租赁内存：0.05EOSC   领取分红：0.03EOSC
            </p>
          </div>
        </div>

        <div>
          <h2>原力主网的RAM资源有什么用，如何获得原力主网的RAM资源，RAM资源可以进行买卖吗？</h2>
          <div class="content_des">
            <p class="ph">
              RAM资源可以为用户和开发者提供节点的内存空间，以存储供合约读写的数据。EOSForce主网中的RAM资源只可采用租赁的方式获得，以账户为单位根据其所缴纳租金来设置账户可以使用的RAM的上限，只能租赁使用，无法进行买卖。<br/>
为了方便用户操作，现阶段原力主网为每个账户设置了8kb的免租金额度，这样对于绝大多数普通用户是不需要关心RAM的，通常，开发者需要为其DApp所使用的RAM支付租金，包括了合约占据的RAM和执行中产生的RAM数据。<br/>
            </p>
          </div>
        </div>

        <div>
          <h2>手续费和RAM资源的租金去向是？</h2>
          <div class="content_des">
            <p class="ph">
              手续费：目前每一笔交易产生的手续费都会被销毁。<br/>

              租金：EOSForce主网已经实现了通过投票获得的分红来支付RAM资源租金的功能。用户通过投票一定金额的EOSC获得对应数量的RAM资源，并以投票获得的分红来支付所租用的RAM资源的租金。目前这一费率为投票10EOSC获得1KB RAM资源。租金会按分红比例返还到出块节点的奖励池，最终返回到投票用户手上。
            </p>
          </div>
        </div>

      </div>
    </div>
</template>
<script>
import { lang, lang_key } from '../../data/lang.js'
import lang_data from './data'

const const_inner_trans = {
  cn: {
    'title': 'EOS原力主网常见问答'
  },
  en: {
    'title': 'EOSForce FAQ'
  },
  kr: {
    'title': 'EOSForce FAQ'
  }
}
const lang_keys = new Set(['cn', 'en', 'kr']);
const select_lang_key = lang_keys.has(lang_key) ? lang_key : 'en';
let now_lang_data = lang_data[select_lang_key];


export const wait_time = (wait_second = 3) => {
  return new Promise((resolve, reject) => {
    let t = setTimeout(() => {
      clearTimeout(t);
      resolve();
    }, wait_second * 1000);
  });
}


export default {
  data () {
    return {
      const_inner_trans,
      lang_key: select_lang_key,
      lang_data: now_lang_data
    }
  },
  computed: {
    route_params () {
      return this.$route.params;
    }
  },
  mounted () {
    if(!this.$route.params.h1_id){
      this.$router.push({
        name: 'forceio',
        params: {
          h1_id: 1,
          h2_id: 1
        }
      })
    }
    this.init_expand();
    this.check_id();
    this.init_new_uri();
  },
  watch: {
    '$route.params.h1_id' () {
        this.check_id();
    },
    '$route.params.h2_id' () {
        this.check_id();
    }
  },
  methods: {
    toggle (is_close, item) {
      item.is_close = is_close;
    },
    get_name (lang_key, h1_id, h2_id){
      return `/${ lang_key }/${ h1_id }/${ h2_id }`;
    },
    get_href (lang_key, h1_id, h2_id){
      return `#/${lang_key}/${h1_id}/${h2_id}`;
    },
    init_expand () {
      let {h1_id, h2_id} = this.route_params;
      this.lang_data.forEach(item => {
        if(item.id != h1_id){
          item.is_close = true;
        }
      });
    },
    init_new_uri () {
      document.body.onscroll = () => {
        console.log(window.location.href);
      }
    },
    async check_id () {
      await wait_time(0.1);
      let id = this.lang_key + '_' + this.route_params.h1_id + '_' + this.route_params.h2_id,
          top = document.getElementById(id).offsetTop - 80;
          
      document.documentElement.scrollTop = top;
      document.body.scrollTop = top;
    }
  }
}
</script>






