<style>
.error_info{
    position: fixed;
    left: 0px;
    top: 0px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    width: 100%;
    text-align: center;
    z-index: 2;
    padding: 15px;
}
.close{
    position: absolute;
    right: 30px;
    height: 40px;
    width: 40px;
    top: 50%;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
<template>
    <div class="error_info" v-if="error_text">
        {{ error_text }}
        <div class="close" @click="close">X</div>
    </div>
</template>
<script>
export default {
    data () {
        return {
            error_text: ''
        }
    },
    props:{
        text: {
            type: String,
            default () {
                return '';
            }
        }
    },
    mounted () {
        this.init();
    },
    watch: {
      text () {
        this.init();
      }
    },
    methods:{
        init () {
            this.error_text = this.text;
        },
        close (val) {
            this.error_text = '';
        }
    }
}
</script>