<style type="text/css">
</style>
<template>
    <div class="table_nav">
        <span v-for="item, index in nav_key_name">
            <router-link :to="{name: item.key}" class="tn_item" v-bind:class="{'focus_nav': index == focus_nav_index}">{{ item.name }}</router-link><span v-if="index + 1 != nav_key_name.length" class="spline"> / </span>
        </span>
    </div>
</template>
<script>
import { data } from '../../data/navs.js'
export default {
    data () {
        return {
            nav_key_name: data.nav_key_name,
            focus_nav_index: null
        }
    },
    mounted () {
        this.set_focus_nav();
    },
    methods: {
        set_focus_nav () {

            this.nav_key_name.forEach((item, index) => {
                if(item.key == this.$route.name){
                    this.focus_nav_index = index;
                }
            });

            if(!this.focus_nav_index) this.focus_nav_index = 0;
        }
    }
}
</script>