<style>
.web_wallet_close{
    top: 20px;
}
.error_msg{
  line-height: 15px;
  background: #f44336eb;
  color: #fff;
  padding: 5px 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  z-index: 1;
  top: 56px;
  box-shadow: 0px 0px 3px #5f5f5f87;
}
#close_error_msg{
  background-color: #403636cf;
  border-radius: 50px;
  top: 50%;
  margin-top: -10px;
}
</style>
<template>
    <div class="dialog_mask" v-if="show_box">
        <div class="dialog">
            <div class="close_nav web_wallet_close" @click="hide"></div>
            <div class="dialog_title">{{params.title}}</div>
            <div class="dialog_content_ct">
                <div class="error_msg" v-if="error_msg">
                  {{ error_msg }}
                  <div class="close_nav web_wallet_close" @click="clear_error" id="close_error_msg"></div>
                </div>
                <div class="base_load_ct bigger_load" v-if="params.on_load">
                    <div class="load_circle"></div>
                </div>
                <div v-for="item in params.show_list" v-if="!params.on_load">

                    <div class="dialog_item" v-if="!item.hide">
                        <span class="dialog_item_title">{{ item.title }}</span>
                        <span class="blue_ft" v-if="item.type=='txt'">{{ item.value }}</span>
                        <span  v-if="item.type=='input'">
                            <input type="" name="" v-model="item.value" v-on:input="form_change" v-bind:placeholder="item.placeholder" class="ipt" />
                            <span>{{ item.exe }}</span>
                        </span>
                        <span  v-if="item.type=='max_input'">
                            <textarea type="" name="" v-model="item.value" v-on:input="form_change" v-bind:placeholder="item.placeholder" class="ipt max_ipt" ></textarea>
                            <span>{{ item.exe }}</span>
                        </span>
                        <span v-if="item.type == 'select'">
                            <select_pane name="" v-model="item.value" v-on:input="form_change" v-bind:list="item.list" v-bind:placeholder="item.placeholder"></select_pane>
                        </span>
                        <span v-if="item.type == 'item_select'">
                          <item_select v-model="item.value" v-bind:list="item.list" v-on:input="form_change"></item_select>
                        </span>
                    </div>

                    <div class="dialog_item hide" v-if="item.hide">
                        <span class="dialog_item_title">{{ item.title }}</span>
                        <span class="blue_ft" v-if="item.type=='txt'">{{ item.value }}</span>
                        <span  v-if="item.type=='input'">
                            <input type="" name="" v-model="item.value" v-bind:placeholder="item.placeholder" class="ipt" />
                            <span>{{ item.exe }}</span>
                        </span>
                        <span  v-if="item.type=='max_input'">
                            <textarea type="" name="" v-model="item.value" v-bind:placeholder="item.placeholder" class="ipt max_ipt" ></textarea>
                            <span>{{ item.exe }}</span>
                        </span>
                    </div>




                    <div class="item_info_txt" v-if="item.info_txt">
                        {{ item.info_txt }}
                    </div>

                </div>
            </div>

            <div class="dialog_confirm" v-on:click="confirm" v-if="!params.hide_confirm&&!params.on_load">
                <span v-if="!params.loadding_form">{{ lang.submit }}</span>
                <div class="base_load_ct subloading" v-if="params.loadding_form">
                    <div class="load_circle"></div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
import {
    time_plus_hours
} from '../utils/utils.js'
import select_pane from '../common/select_pane.vue'
import item_select from './select.vue'
import {
    get_invite_detail,
} from '../../service/eos_invite_service.js'
import { lang } from '../../data/lang.js'

export default {
    data () {
        return {
            on_load: true,
            show_box: true,
            data : [],
            lang: lang.data,
            error_msg: ''
        };
    },
    props: {
        params: {
            type: Object,
            default () {
                return {
                    title: '',
                    action_name: '',
                    show_list: [],
                    on_load: true
                }
            }
        },
        show: {
          type: Boolean,
          default () {
            return true;
          }
        }
    },
    watch: {
      'params.error_msg' () {
        this.error_msg = this.params.error_msg;
      }
    },
    mounted () {
      this.init_show();
    },
    methods: {
        init_show () {
          this.show = this.show_box;
        },
        clear_error () {
          this.error_msg = '';
        },
        form_change () {
          this.$emit('form_change', this.params);
        },
        hide () {
            this.show_box = false;
            this.$emit('hide');
        },
        confirm () {
            this.$emit('confirm', this.params);
        }
    },
    components: {
        select_pane,
        item_select
    }
}
</script>