<style>

</style>
<template>
    <div class="dialog_mask" v-if="show">
        <div class="dialog">
            <div class="close_nav" @click="hide"></div>
            <div class="dialog_title">{{account}}获奖明细</div>
            <div class="dialog_content_ct">
                <div class="base_load_ct bigger_load" v-if="on_load">
                    <div class="load_circle"></div>
                </div>
                <div class="dialog_item" v-for="item in data" v-if="!on_load">
                    邀请
                    <span class="blue_ft">
                    {{ item.Peer }}
                    </span>
                    携币
                    <span class="blue_ft">
                    {{ (item.InviteeAsset/10000).toFixed(3) }} EOS
                    </span>
                    回家，
                    获奖
                    <span class="blue_ft">
                    {{ (item.BonusAmount/10000).toFixed(3) }} EOS
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {
    time_plus_hours
} from '../utils/utils.js'

import {
    get_invite_detail,
} from '../../service/eos_invite_service.js'

export default {
    data () {
        return {
            on_load: false,
            show: true,
            data : []
        };
    },
    props: {
        account: {
            type: String,
            default () {
                return ''
            }
        }
    },
    mounted () {
        this.get_data();
    },
    methods: {
        get_data () {
            this.on_load = true;
            get_invite_detail(this.account)
            .then(res => {
                console.log( res.data.Data );
                this.data.splice(0, 0, ...res.data.Data);
                this.on_load = false;
            })
        },
        hide () {
            this.show = false;
            this.$emit('hide');
        }
    }
}
</script>