<style>
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #241615;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.head_bg{
    background-image: url(../../assets/image/web/dapp_reward/dapp_reward_bg.png);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
.head_logo{
    background-image: url(../../assets/image/web/dapp_reward/read_logo.png);
    width: 130px;
    height: 38px;
    background-size: contain;
    position: absolute;
    top: 24px;
    left: 15px;
}
.reward_title{
    background-image: url(../../assets/image/web/dapp_reward/reward_rules.png);
    width: 106px;
    height: 18px;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 20px;
}
.my_reward{
    background-image: url(../../assets/image/web/dapp_reward/my_reward.png);
}
.reward_record{
    background-image: url(../../assets/image/web/dapp_reward/reward_record.png);
}
.action_ct{
    padding: 20px;
    color: #fff;
    font-size: 13px;
    line-height: 25px;
}
.reward_pane{
    border-radius: 4px;
    color: #eee;
    background-color: #fff;
    padding-bottom: 18px;
}
.reward_pane_tt{
    padding-top: 33px;
    padding-bottom: 17px;
    text-align: center;
    color: #E1512C;
    font-size: 36px;
}
.symbol_tag{
    font-size: 18px;
}
.gray_tags{
    color: #8B8382;
    line-height: 1;
    font-size: 14px;
    text-align: center;
    padding: 0px 20px;
}
.action{
    background-color: #E1512C;
    color: #fff;
    height: 45px;
    margin-top: 27px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
}
.action:active{
    background-color: #000;
}
.red_tag{
    color: #E1512C;
}
.tr{
    display: flex;
    color: #999999;
}
.tr .th{
    color: #fff;
}
.tr .td, .tr .th{
    width: 25%;
    box-sizing: border-box;
    word-break: break-all;
    display: flex;
    align-items: center;
    padding: 10px 12px;
}
.tr .t1_w{
    width: 30%;
}
.tr .t2_w {
    width: 30%;
}
.tr .t3_w {
    width: 30%;
}
.tr .t4_w {
    width: 28%;
}
.tr_bg {
    background-color: rgba(255,254,254,.06);
}
.no_data{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #907171;
}
.base_load_ct{
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
}
.load_circle{
    border: 1px solid #0bceaa;
    border-top: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    animation: rotate 1s linear infinite;    
}
.bigger_load_circle{
    border: 1px solid #616363;
    border-top: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    animation: rotate 0.8s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg)
  }
  /*50% {-webkit-transform: rotate(180deg); }*/
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  0% {
    -ms-transform: rotate(0deg);    
  }
  /*50% {-ms-transform: rotate(180deg); }*/
  100% {
    -ms-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  /*50% {transform: rotate(180) }*/
  100% {
    transform: rotate(360deg)
  }
}
.blur_action{
    background-color: rgba(62, 54, 54, 0.96);
}
.loading_action{
    height: 45px;
    background: #e1512c;
}
.loading_action .load_circle{
    border: 1px solid #fbfbfb;
    border-top: 1px solid rgba(0, 0, 0, 0);
}
.reward_success_mask{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.reward_dialog{
    position: absolute;
    height: auto;
    left: 20px;
    right: 20px;
    background: #fff;
    top: 50%;
    margin-top: -150px;
    border-radius: 4px;
    animation: slide_dialog 0.2s linear ;
}
.success_coin{
    background-image: url(../../assets/image/web/dapp_reward/dialog_success_icon.jpg);
    width: 144px;
    height: 95px;
    background-size: contain;
    margin: 0 auto;
    margin-top: -50px;
}
.success_text{
    text-align: center;
    padding-top: 26px;
    padding-bottom: 11px;
    color: #0B0C20;
}
/*cooperation*/
@-webkit-keyframes slide_dialog {
  0% {
    top: -50%;
  }
  /*50% {-webkit-transform: rotate(180deg); }*/
  100% {
    top: 50%;
  }
}
@-ms-keyframes slide_dialog {
  0% {
    top: -50%;
  }
  /*50% {-ms-transform: rotate(180deg); }*/
  100% {
    top: 50%;
  }
}
@keyframes slide_dialog {
  0% {
    top: -50%;
  }
  /*50% {-ms-transform: rotate(180deg); }*/
  100% {
    top: 50%;
  }
}
</style>
<template>
    <div class="dapp_reward_ct">
        <div class="reward_success_mask" v-if="show_success_dialog">
            <div class="reward_dialog">
                <div class="success_coin"></div>
                <div class="success_text">领取成功</div>
                <div class="gray_tags">{{ has_get }}EOSC 已转入您的账户</div>
                <div class="action" @click="close_dialog">确定</div>
            </div>
        </div>
        <div class="head_bg" v-bind:style="head_bg()">
            <div class="head_logo"></div>
            
        </div>
        <div class="action_ct">
            <div class="reward_title"></div>
            <div>
                在麦子钱包每个新上线的dapp游戏完成第一笔链上交易，即送
                5个EOSC，每天限量1000EOSC，送完即止。
            </div>
        </div>

        <div class="action_ct">
            
            <div class="reward_title my_reward"></div>
            <div class="reward_pane base_load_ct" v-if="on_load && account_name">
                <div class="load_circle bigger_load_circle"></div>
            </div>
            <div class="reward_pane">

               <h3 class="reward_pane_tt">
                   <span>{{total}}</span>
                   <span class="symbol_tag">EOSC</span>
               </h3>

               <div class="gray_tags">
                   未领取：{{ not_recieved }} EOSC
               </div>

               <template v-if="has_scatter && account_name && !on_load">
                   
                   <template v-if="date_reward.max_limit <= date_reward.has_sended">
                       <div class="action blur_action">
                           暂时无可领取的EOSC, 今日奖池已不足
                       </div>
                   </template>
                   <template v-if="date_reward.max_limit > date_reward.has_sended">
                       <div class="action" v-if="not_recieved && !load_get_my_reward" @click="get_my_dapp_reward">
                           领取
                       </div>

                       <div class="action base_load_ct loading_action" v-if="load_get_my_reward">
                            <div class="load_circle"></div>
                       </div>

                       <div class="action blur_action" v-if="!not_recieved && my_dapp_reward.length">
                           已领取
                       </div>

                       <div class="action blur_action" v-if="!not_recieved && !my_dapp_reward.length">
                           暂无奖励
                       </div>

                   </template>
               
               </template>

               <div class="action" v-if="!has_scatter"  @click="check_account">
                   连接scatter
               </div>

               <div class="gray_tags" v-if="!has_scatter">
                   未安装scatter
               </div>

               <div class="gray_tags" v-if="has_scatter && error_msg">
                   <span class="red_tag">错误提示：{{ error_msg }}</span>
                   <br/>
                   <br/>
                   <span v-if="error_msg" @click="check_account">点击重新连接scatter</span>
               </div>

               <div class="gray_tags" v-if="has_scatter && !error_msg">
                   当前账户：<span class="red_tag">{{ account_name }}</span>
               </div>

            </div>
        </div>

        <div class="action_ct">
            <div class="reward_title reward_record"></div>
            <div>
                <div >
                    <div class="tr">
                        <div class="th t1_w">时间</div> 
                        <div class="th t2_w">DAPP</div> 
                        <div class="th t3_w">奖励</div> 
                    </div>
                    <template v-if="on_load && account_name">
                        <div class="base_load_ct">
                            <div class="load_circle bigger_load_circle"></div>
                        </div>
                    </template>
                    <template v-if="my_dapp_reward.length && !on_load && account_name" >
                        <div class="tr" v-bind:class="get_tr_class(_index)" v-for="item, _index in my_dapp_reward">
                            <div class="td t1_w">{{ item.played_time.split('T')[0] }}</div> 
                            <div class="td t2_w">{{ item.dapp_show_name || item.dapp_name }}</div> 
                            <div class="td t3_w">+{{ item.reward }}EOSC</div> 
                        </div>
                    </template>
                    <template  v-if="!my_dapp_reward.length && !on_load && account_name" >
                        <div class="no_data">您还未使用过原力DAPP, 当前无记录</div>
                    </template>
                    <template  v-if="!account_name" >
                        <div class="no_data">未安装scatter</div>
                    </template>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</template>
<script>
import {
    get_bps,
    vote,
    transfer,
    unfreeze,
    claim,
    get_my_vote_llist,
    get_top_bps,
    get_available,
    new_account,
    get_scatter_identity
} from '@/service/web_wallet_service.js'
import {
    get_user_reward,
    get_my_dapp_reward
} from '@/service/eos_service.js'
import store from '../../data/store.js'
export default {
    data () {
        return {
            bg_config: {
                width: 750,
                height: 1041
            },
            account_name: '',
            error_msg: '',
            not_recieved: 0,
            total: 0,
            my_dapp_reward: [],
            on_load: true,
            date_reward: {
                max_limit: 0,
                has_sended: 0
            },
            load_get_my_reward: false,
            show_success_dialog: false,
            has_get: 0
        };
    },
    mounted () {

    },
    watch: {
        has_scatter () {
            this.check_account();
        },
        account_name () {
            this.check_my_reward();
        }
    },
    computed: {
        has_scatter () {
            return store.state.global_config.has_scatter;  
        },
    },
    methods: {
        head_bg () {
            let width = window.screen.width + 'px',
                height = this.bg_config.height * (window.screen.width / this.bg_config.width) + 'px';
            return {
                width,
                height
            }
        },
        get_tr_class (_index) {
            return _index % 2 == 0 ? 'tr tr_bg' : 'tr';
        },
        async check_account () {
            let res = await get_scatter_identity();
            if(res.is_error){
                this.error_msg = res.msg;
            }else{
                this.error_msg = '';
                this.account_name = res.data.account_name;
            }
        },
        async check_my_reward () {
            let res = await get_user_reward({
                user_name: this.account_name
            });
            this.on_load = false;
            this.date_reward.max_limit = res.data.date_reward.max_limit;
            this.date_reward.has_sended = res.data.date_reward.has_sended;
            this.my_dapp_reward = [...res.data.my_dapp_reward]
            this.not_recieved = res.data.not_recieved;
            this.total = res.data.total;
        },
        async get_my_dapp_reward () {
            this.load_get_my_reward = true;
            let res = await get_my_dapp_reward({
                user_name: this.account_name
            });
            this.load_get_my_reward = false;
            this.on_load = false;
            this.date_reward.max_limit = res.data.date_reward.max_limit;
            this.date_reward.has_sended = res.data.date_reward.has_sended;
            this.my_dapp_reward = [...res.data.my_dapp_reward];
            if(this.not_recieved != res.data.not_recieved){
                this.has_get = this.not_recieved - res.data.not_recieved;
                this.show_success_dialog = true;
            }
            this.not_recieved = res.data.not_recieved;
            this.total = res.data.total;
        },
        close_dialog () {
            this.show_success_dialog = false;
        }
    }
}
</script>